<div class="ui form {{appState.state}}">
  <div class="flexberry-colsconfig content">
    <div class="ui action input">
      <div>
        {{flexberry-textarea
          value=model.advLimit
          class=class
          rows='5'
          cols='60'
        }}
      </div>
      {{input
        type="input"
        class="setting-name-input fluid"
        value=model.advLimitName
        placeholder=(t "components.advlimit-dialog-content.enter-limit-name")
      }}
      {{#if advLimit.isAdvLimitServiceEnabled}}
        <div class="ui small button cols-config-save{{unless model.advLimitName " disabled"}}" {{action "saveAdvLimit"}}>
          {{t "components.advlimit-dialog-content.save"}}
        </div>
      {{/if}}
      <div class="ui right floated button cols-config-apply" {{action "apply"}}>
        {{t "components.advlimit-dialog-content.use"}}
      </div>
      <div class="ui button cols-config-check" {{action "check"}}>
        {{t "components.advlimit-dialog-content.check"}}
      </div>
    </div>
    {{ui-message
      type=type
      closeable=closeable
      visible=visible
      caption=caption
      message=message
    }}
  </div>
</div>
