<div class=" content">
  <!--div class="description">
    <div class="list-group"-->
      <table class="ui selectable celled table"
        ><thead
          ><tr
          ><th style="width:36px;align:center" title='{{t "components.colsconfig-dialog-content.dont-show-columns"}}'><i class='large hide icon'></i></th
          ><th style="width:72px;text-align:center"><i class='large sort icon' title='{{t "components.colsconfig-dialog-content.columns-order"}}'></i></th
          ><th>{{t "components.colsconfig-dialog-content.column-name"}}</th
          ><th style="width:72px;text-align:center" title='{{t "components.colsconfig-dialog-content.sort-direction"}}'><nobr><i class="large sort content ascending icon"></i><i class="large sort content descending icon"></i></nobr></th
          ><th style="width:72px;text-align:center" title="{{t "components.colsconfig-dialog-content.sort-priority"}}"><i class='large ordered list icon'></i></th
          ></tr
        ></thead
        ><tbody id='colsConfigtableRows'>
        {{#each modelForDOM as |colDesc n|}}
{{!--log 'name='colDesc.name ' sortOrderNot='colDesc.sortOrderNot ' sortOrderAsc='colDesc.sortOrderAsc ' sortOrderDesc='colDesc.sortOrderDesc--}}
{{!--debugger--}}
<tr id="{{colDesc.trId}}" propName='{{colDesc.propName}}'
          ><td><i id="{{colDesc.hideId}}" class='large {{if colDesc.hide 'hide' 'unhide'}} icon' colsConfigHidden=false {{action 'invertVisibility' n}}></i></td
          ><td class="{{if colDesc.hide 'disabled' ''}}"><nobr
            ><button {{action 'rowUp' n}} id="{{colDesc.rowUpId}}">↑</button
            ><button {{action 'rowDown' n}}  id="{{colDesc.rowDownId}}">↓</button></nobr
          ></td
          ><td  class="{{if colDesc.hide 'disabled' ''}}">{{colDesc.name}}</td
          ><td  class="{{if colDesc.hide 'disabled' ''}}"
            ><select id='{{colDesc.sortOrderId}}' name="sortorder[{{colDesc.name}}]" {{action 'setSortOrder' n}}>
                <option selected='{{colDesc.sortOrderNot}}' value='0'>-</option>
                <option selected='{{colDesc.sortOrderAsc}}' value='1'>▲</option>
                <option selected='{{colDesc.sortOrderDesc}}' value='-1'>▼</option>
              </select
              ></td
            ><td class="{{if colDesc.hide 'disabled' ''}}"
              ><input id="{{colDesc.sortPriorityId}}" size='2' class='sortPriority' disabled="{{if colDesc.sortOrder '' 'disabled'}}" value='{{colDesc.sortPriority}}' type='input' style="{{if colDesc.sortOrder '' 'display:none'}}"
                {{action "setSortPriority" n on="focusOut"}} prevValue="{{colDesc.sortPriority}}"
            ></td
          ></tr>
{{/each}}
        </tbody
        ><tfoot class="full-width"
          ><tr
          ><td colspan='6'
          ><div class="ui right floated button" {{action 'apply'}}>{{t "components.colsconfig-dialog-content.use"}}</div
            ><div class="ui"
            >{{t "components.colsconfig-dialog-content.setting-name"}} <input type='input' name='configName' placeholder='{{t "components.colsconfig-dialog-content.enter-setting-name"}}' value='{{settingName}}'
            /><div class="ui small button" {{action 'saveColsSetting'}}>{{t "components.colsconfig-dialog-content.save"}}</div
            ></div
          ></td
          ></tr
      ></tfoot
      ></table>
    <!--/div>
  </div-->
</div>

