<select id="{{if id id}}" class="{{if cssClass cssClass}}" {{action 'dropDown_onSelectedItemChanged' on='change'}}>
  {{#each items as |item|}}
      <option value="{{item}}">
        {{item}}
      </option>
  {{/each}}
</select>