{{#if (and currentTypeSupported useBrowserInput)}}
  {{input type=type readonly=readonlyAttr value=_valueAsString min=_minAsString max=_maxAsString placeholder=placeholder}}
{{else}}
  <div class="ui fluid action input flatpickr">
    <input type="text" placeholder={{placeholder}}/>
    {{#if openButton}}
      {{#if readonlyAttr}}
        <button
          class="ui ui-open disabled button"
          title={{t "components.flexberry-lookup.open-button-text"}}
          disabled="disabled"
          {{action "open" bubbles=false}}>
          <i class="{{type}} icon"></i>
        </button>
      {{else}}
        <button
          class="ui ui-open button"
          title={{t "components.flexberry-lookup.open-button-text"}}
          {{action "open" bubbles=false}}>
          <i class="{{type}} icon"></i>
        </button>
      {{/if}}
    {{/if}}
    {{#if removeButton}}
      {{#if readonlyAttr}}
        <button
          class="ui ui-clear disabled button"
          title={{t "components.flexberry-lookup.remove-button-text"}}
          disabled="disabled"
          {{action "remove" bubbles=false}}>
          <i class="remove icon"></i>
        </button>
      {{else}}
        <button
          class="ui ui-clear button"
          title={{t "components.flexberry-lookup.remove-button-text"}}
          {{action "remove" bubbles=false}}>
          <i class="remove icon"></i>
        </button>
      {{/if}}
    {{/if}}
  </div>
{{/if}}
