<div class="ui fluid action input">
  <input type="file" name="files[]" id={{fileInputId}} class="flexberry-file-file-input" style="display:none" />
  {{!-- value=(get this "fileName") is a way to get one way binding, so input events will not cause value mutation --}}
  {{input
    type="text"
    class="flexberry-file-filename-input"
    readonly="readonly"
    placeholder=placeholder
    value=(get this "fileName")
  }}
  {{#unless readonly}}
    {{#if addButtonIsVisible}}
      <label
        class="flexberry-file-add-button ui icon {{buttonClass}} {{unless addButtonIsEnabled "disabled"}} button"
        title={{t "components.flexberry-file.add-button-title"}}
        for={{fileInputId}}
        {{action "addButtonClick" on="click" preventDefault=false}}>
        <i class="add outline square icon"></i>
      </label>
    {{/if}}
    {{#if removeButtonIsVisible}}
      <label
        class="flexberry-file-remove-button ui icon {{buttonClass}} {{unless removeButtonIsEnabled "disabled"}} button"
        title={{t "components.flexberry-file.remove-button-title"}}
        {{action "removeButtonClick" on="click" preventDefault=false}}>
        <i class="trash outline icon"></i>
      </label>
    {{/if}}
    {{#if uploadButtonIsVisible}}
      <label
        class="flexberry-file-upload-button ui icon {{buttonClass}} {{unless uploadButtonIsEnabled "disabled"}} {{if uploadIsInProgress "loading"}} button"
        title={{t "components.flexberry-file.upload-button-title"}}
        {{action "uploadButtonClick" on="click" preventDefault=false}}>
        <i class="upload outline icon"></i>
      </label>
    {{/if}}
  {{/unless}}
  {{#if downloadButtonIsVisible}}
    <label
      class="flexberry-file-download-button ui icon {{buttonClass}} {{unless downloadButtonIsEnabled "disabled"}} button"
      title={{t "components.flexberry-file.download-button-title"}}
      {{action "downloadButtonClick" on="click" preventDefault=false}}>
      <i class="download outline icon"></i>
    </label>
  {{/if}}
</div>
{{#if (and showPreview hasFile)}}
    <div class="flexberry-file-image-preview-wrapper ui segment" {{action "viewLoadedImage"}}>
      {{#unless previewDownloadIsInProgress}}
        <img
          class="flexberry-file-image-preview ui small centered image"
          src={{_previewImageAsBase64String}}
          alt={{t "components.flexberry-file.preview-image-alternative-text"}} />
      {{/unless}}
      <div class="ui {{if previewDownloadIsInProgress "active" ""}} loader"></div>
    </div>
{{/if}}
<div class="flexberry-file-download-iframes-container" style="display: none;">
  {{!-- Block to which download iframes will be added --}}
</div>
<div class="flexberry-file-error-modal-dialog ui small basic modal">
  <div class="ui icon header">
    <i class="file icon"></i>
    {{errorModalDialogCaption}}
  </div>
  <div class="content">
    <div class="flexberry-file-error-modal-dialog-content center aligned ui grid">
      {{errorModalDialogContent}}
    </div>
  </div>
  <div class="center aligned ui grid">
    <div class="actions">
      <div class="flexberry-file-error-modal-dialog-ok-button ui approve green inverted button">
        <i class="checkmark icon"></i>
        {{t "components.flexberry-file.error-dialog-ok-button-caption"}}
      </div>
    </div>
  </div>
</div>
