{{#if dropdown}}
  {{flexberry-dropdown
    placeholder=placeholder
    class=(concat "search " dropdownClass)
    value=displayValue
    readonly=(if readonly "readonly")
    needChecksOnValue=false
    isSearch=true
    isSearchReadOnly=dropdownIsSearch
    settings=dropdownSettings
  }}
{{else}}
  <div class="ui fluid action input">
    {{input
      type="text"
      class=(concat "lookup-field " (if autocomplete "prompt"))
      placeholder=placeholder
      value=displayValue
      readonly=(if (or readonly (not autocomplete)) "readonly")
    }}
    {{#if showPreviewButton }}
      {{#if (and previewFormRoute value)}}
        <button
          class="ui ui-preview {{if isBlocked " disabled"}} {{previewButtonClass}} button"
          title={{t "components.flexberry-lookup.preview-button-text"}}
          type={{if autocomplete "button" ""}}
          {{action "preview"}}>
          {{{previewText}}}
        </button>
      {{/if}}
    {{/if}}
    <button
      class="ui ui-change {{if (or readonly isBlocked) " disabled"}} {{chooseButtonClass}} {{if (or modalIsBeforeToShow modalIsStartToShow) " loading"}} button"
      title={{t "components.flexberry-lookup.choose-button-text"}}
      type={{if autocomplete "button" ""}}
      {{action "choose" chooseData}}>
      {{{chooseText}}}
    </button>
    <button
      class="ui ui-clear {{if (or readonly isBlocked) " disabled"}} {{removeButtonClass}} button"
      title={{t "components.flexberry-lookup.remove-button-text"}}
      type={{if autocomplete "button" ""}}
      {{action "remove" removeData}}>
      {{{removeText}}}
    </button>
  </div>
{{/if}}
{{#if (and (not readonly) autocomplete)}}
  <div class="results"></div>
{{/if}}
