{{#if (and currentTypeSupported useBrowserInput)}}
  {{input type=type readonly=readonlyAttr value=_valueAsString min=_minAsString max=_maxAsString placeholder=placeholder}}
{{else}}
  <div class="ui fluid action input flatpickr">
    <input type="text" placeholder={{placeholder}}/>
    {{#if removeButton}}
      {{#if readonlyAttr}}
        <button
          class="ui ui-clear disabled button"
          title={{t "components.flexberry-lookup.remove-button-text"}}
          disabled="disabled"
          {{action "remove"}}>
          <i class="remove icon"></i>
        </button>
      {{else}}
        <button
          class="ui ui-clear button"
          title={{t "components.flexberry-lookup.remove-button-text"}}
          {{action "remove"}}>
          <i class="remove icon"></i>
        </button>
      {{/if}}
    {{/if}}
  </div>
{{/if}}
