{{#if isSearch}}
  {{#if isSearchReadOnly}}
    <input class="search" autocomplete="off">
  {{else}}
    <input class="search" autocomplete="off" readonly>
  {{/if}}
{{/if}}

<i class="dropdown icon"></i>
<div class="{{unless value "default"}} text">{{text}}</div>
<div class="menu {{if canFixElement fixedElementClass}}">
  {{yield}}
  {{#each-in items as |key itemValue|}}
    <div class="item {{if (eq value itemValue) "active selected"}}" data-value="{{key}}">{{itemValue}}</div>
  {{/each-in}}
</div>