{{#if readonly}}
  {{input
    type=type
    value=(get this "value")
    readonly="readonly"
    required=required
    placeholder=placeholder
    maxlength=maxlength
  }}
{{else}}
  {{input
    type=type
    value=value
    required=required
    placeholder=placeholder
    maxlength=maxlength
  }}
  {{#if voiceTypingIsActive}}
    <button
      type="button"
      class="ui button voice-typing"
      title={{t "components.flexberry-textbox.voice-button-text"}}
      {{action "voiceTyping"}}>
      <i class="circular microphone link icon" />
    </button>
  {{/if}}
{{/if}}
