{{#if sitemap.link}}
<a class="item"
  href={{sitemap.link}}
  title={{sitemap.title}}>
    <div class="title-item-menu" {{action "menuToggle"}}>{{sitemap.caption}}</div>
    {{#if sitemap.children.length}}
      <div class="menu subMenu hidden">
        {{#each sitemap.children as |child|}}
          {{flexberry-sitemap sitemap=child}}
        {{/each}}
      </div>
    {{/if}}
</a>
{{else if sitemap.caption}}
  <div class="item item-menu">
    <div class="item-plus" {{action "menuToggle"}}></div>
    <div class="item-minus hidden" {{action "menuToggle"}}></div>
    <div class="title-item-menu" {{action "menuToggle"}}>{{sitemap.caption}}</div>
    {{#if sitemap.children.length}}
      <div class="menu subMenu hidden">
        {{#each sitemap.children as |child|}}
          {{flexberry-sitemap sitemap=child}}
        {{/each}}
      </div>
    {{/if}}
  </div>
{{else if sitemap.nodes}}
  {{#each sitemap.nodes as |node|}}
    {{flexberry-sitemap sitemap=node}}
  {{/each}}
{{/if}}
