{{#if (and currentTypeSupported useBrowserInput)}}
  {{input type=type readonly=readonlyAttr value=_valueAsString min=_minAsString max=_maxAsString placeholder=placeholder}}
{{else}}
  <div class="ui fluid action input flatpickr">
    <input type="text" placeholder={{placeholder}}/>
    {{#if removeButton}}
      <button
        class="ui ui-clear {{if readonlyAttr " disabled"}} button"
        title={{t "components.flexberry-lookup.remove-button-text"}}
        disabled={{if readonlyAttr " disabled"}}
        {{action "remove"}}>
        <i class="remove icon"></i>
      </button>
    {{/if}}
  </div>
{{/if}}
