{{#ui-dropdown
  class=(concat "flexberry-dropdown " class " selection" (if readonly " disabled" ""))
  onChange=(action 'onChange')
  onHide=(action 'onShowHide')
  onShow=(action 'onShowHide')
}}
  {{#if (and isSearch isSearchReadOnly)}}
    <input class="search" autocomplete="off">
  {{/if}}

  {{#if (and isSearch (not isSearchReadOnly))}}
    <input class="search" autocomplete="off" readonly>
  {{/if}}

  <i class="dropdown icon"></i>
  {{#if showPlaceholder}}
    <div class="default text">{{placeholder}}</div>
  {{else}}
    <div class="text">{{text}}</div>
  {{/if}}
  <div class="menu">
    {{#each-in _items as |key value|}}
      {{#if value}}
        <div class="item" data-value="{{value}}">{{value}}</div>
      {{else}}
        <div class="item" data-value="_">{{value}}</div>
      {{/if}}
    {{/each-in}}
  </div>
{{/ui-dropdown}}
