{{#if error}}
  {{#if modal}}
    {{#modal-dialog
      title=(t "components.flexberry-error.caption")
      useOkButton=useOkButton
      useCloseButton=useCloseButton
      settings=(hash context=modalContext onHidden=(action "close"))
    }}
      <h2 class="ui header">
        {{#if (and _errorIsArray _messageIsNotSpecified)}}
          <div class="ui bulleted list">
            {{#each error as |err|}}
              {{#if (eq err.state "rejected")}}
                <div class="item">{{err.reason.message}}</div>
              {{/if}}
            {{/each}}
          </div>
        {{else if error.messageLocaleKey}}
          {{t error.messageLocaleKey}}
        {{else if error.message}}
          {{error.message}}
        {{else}}
          {{t "components.flexberry-error.unknown-error"}}
        {{/if}}
      </h2>
      {{#if error.errors}}
        {{#flexberry-toggler
          caption=(t "components.flexberry-error.show-more")
        }}
          {{#each error.errors as |e|}}
            <h3 class="ui header">
              {{#if e.messageLocaleKey}}
                {{t e.messageLocaleKey}}
              {{else if e.message}}
                {{e.message}}
              {{/if}}
            </h3>
            <pre>{{e.stack}}</pre>
          {{/each}}
        {{/flexberry-toggler}}
      {{/if}}
    {{/modal-dialog}}
  {{else}}
    {{#ui-message
      type="negative"
      onHide="close"
      closeable=true
    }}
      <h2 class="ui header">
        {{#if error.messageLocaleKey}}
          {{t error.messageLocaleKey}}
        {{else if error.message}}
          {{error.message}}
        {{else}}
          {{t "components.flexberry-error.unknown-error"}}
        {{/if}}
      </h2>
      {{#if error.errors}}
        {{#flexberry-toggler
          caption=(t "components.flexberry-error.show-more")
        }}
          {{#each error.errors as |e|}}
            <h3 class="ui header">
              {{#if e.messageLocaleKey}}
                {{t e.messageLocaleKey}}
              {{else if e.message}}
                {{e.message}}
              {{/if}}
            </h3>
            <pre>{{e.stack}}</pre>
          {{/each}}
        {{/flexberry-toggler}}
      {{/if}}
    {{/ui-message}}
  {{/if}}
{{/if}}
