{{#if (and titleIsBeforeIcon item.title)}}
  <span>{{item.title}}</span>
{{/if}}
{{#if item.icon}}
  <i class="{{item.icon}}"></i>
{{/if}}
{{#if (and (not titleIsBeforeIcon) item.title)}}
  <span>{{item.title}}</span>
{{/if}}
{{#if hasSubitems}}
  <div class="{{if item.itemsAlignment item.itemsAlignment}} menu">
    {{#each item.items as |item|}}   
      {{flexberry-menuitem
        item=item
        relatedModel=relatedModel
      }}
    {{/each}}
  </div>
{{/if}}
{{yield}}