<div class="title {{if expanded 'active'}}">
  <i class="{{if iconClass iconClass 'dropdown icon' }}"></i><span class="flexberry-toggler-caption">{{currentCaption}}</span>
</div>
<div class="content flexberry-toggler-content {{if expanded 'active'}}">{{yield}}</div>
