{{#if sitemap.link}}
  {{#link-to sitemap.link class="item" title=sitemap.title}}
    <div class="title-item-menu" {{action "menuToggle"}}>{{sitemap.caption}}</div>
    {{#if sitemap.children.length}}
      <div class="menu subMenu hidden">
        {{#each sitemap.children as |child|}}
          {{flexberry-sitemap sitemap=child}}
        {{/each}}
      </div>
    {{/if}}
  {{/link-to}}
{{else if sitemap.caption}}
  <div class="item item-menu">
    <div class="title-item-menu" {{action "menuToggle"}}>
      {{#if sitemap.children.length}}
        {{#if nodeIsOpen}}
          <i class="icon fa-minus-square-o"></i>
        {{else}}
          <i class="icon fa-plus-square-o"></i>
        {{/if}}
      {{/if}}
      {{sitemap.caption}}
    </div>
    {{#if sitemap.children.length}}
      <div class="menu subMenu hidden">
        {{#each sitemap.children as |child|}}
          {{flexberry-sitemap sitemap=child}}
        {{/each}}
      </div>
    {{/if}}
  </div>
{{else if sitemap.nodes}}
  {{#each sitemap.nodes as |node|}}
    {{flexberry-sitemap sitemap=node}}
  {{/each}}
{{/if}}
