{{edit-panel
  deepMount=true
  buttons=(array
    (hash
      class=(concat buttonClass "ui-add")
      title=(t "components.groupedit-toolbar.add-button-text")
      icon="plus icon"
      action=(action 'addRow')))
}}

{{#if createNewButton}}
  <button
    type="button"
    class="ui ui-add {{buttonClass}} button"
    title={{t "components.groupedit-toolbar.add-button-text"}}
    disabled={{readonly}} {{action 'addRow'}}>
      <i class="plus icon"></i>
  </button>
{{/if}}
{{#if deleteButton}}
  <button
    type="button"
    class="ui ui-delete {{unless _hasSelectedRows "disabled"}} {{buttonClass}} button"
    title={{t "components.groupedit-toolbar.delete-button-text"}}
    disabled={{or (not _hasSelectedRows) readonly}} {{action 'deleteRows'}}>
      <i class="minus icon"></i>
  </button>
{{/if}}
{{#if (and defaultSettingsButton (not orderedProperty))}}
  <button
    type="button"
    class="ui ui-clear-settings {{buttonClass}} button"
    title={{t "components.groupedit-toolbar.clear-settings-button-text"}}
    {{action 'setDefaultSettings'}}>
      <i class="configure icon"></i>
  </button>
{{/if}}

{{#if arrowsButtons}}
  <button
    type="button"
    class="ui ui-move-up {{buttonClass}} button"
    title={{t "components.groupedit-toolbar.move-up-button-text"}}
    disabled={{or (not _hasSelectedRows) _disableMoveUpButton readonly}}
    {{action 'moveRow' -1}}>
      <i class="arrow up icon"></i>
  </button>

  <button
    type="button"
    class="ui ui-move-down {{buttonClass}} button"
    title={{t "components.groupedit-toolbar.move-down-button-text"}}
    disabled={{or (not _hasSelectedRows) _disableMoveDownButton readonly}}
    {{action 'moveRow' 1}}>
      <i class="arrow down icon"></i>
  </button>
{{/if}}

{{#each customButtons as |customButton|}}
  <button
    type="button"
    class="ui {{if customButton.buttonClasses customButton.buttonClasses}} {{if customButton.iconClasses "icon"}} custom button"
    title={{if customButton.buttonTitle customButton.buttonTitle}}
    disabled={{customButton.disabled}}
    {{action "customButtonAction" customButton.buttonAction}}>
		{{#if customButton.iconClasses}}
			<i class="{{customButton.iconClasses}} icon"></i>
		{{else}}
			{{if customButton.buttonName customButton.buttonName (t "components.groupedit-toolbar.custom-button-text")}}
		{{/if}}
  </button>
{{/each}}
