{{#if createNewButton}}
  <button
    class="ui ui-add {{buttonClass}} button"
    title={{t "components.groupedit-toolbar.add-button-text"}}
    disabled={{readonly}} {{action 'addRow'}}>
      <i class="plus icon"></i>
  </button>
{{/if}}
{{#if deleteButton}}
  <button
    class="ui ui-delete {{if _isDeleteRowsEnabled '' 'disabled'}} {{buttonClass}} button"
    title={{t "components.groupedit-toolbar.delete-button-text"}}
    disabled={{readonly}} {{action 'deleteRows'}}>
      <i class="minus icon"></i>
  </button>
{{/if}}
{{#if colsConfigButton}}
  <div class="ui buttons">
    <button
      class="ui icon button config-button"
      title={{t "components.colsconfig-dialog-content.title"}}
      {{action "showConfigDialog"}}>
        <i class="large table icon"></i>
    </button>
    {{#if colsSettingsItems}}
      {{flexberry-menu
        items=colsSettingsItems
        onItemClick=(action "onMenuItemClick")
      }}
    {{/if}}
  </div>
{{/if}}
<div class="groupedit-toolbar-info-modal-dialog ui small basic modal">
  <div class="ui icon header">
    <i class="olvt icon"></i>
    {{_infoModalDialogCaption}}
  </div>
  <div class="center aligned ui grid">
  <button
    class="ui icon button"
    title={{t "components.groupedit-toolbar.copy"}}
    {{action "copyJSONContent"}}
    id='groupeditToolbarInfoCopyButton'>
      <i class="copy icon"></i>
      {{t "components.groupedit-toolbar.copy"}}
  </button>
  <div class="actions">
    <div class="groupedit-toolbar-info-modal-dialog-ok-button ui approve green inverted button" >
      <i class="remove icon"></i>
      {{t "components.groupedit-toolbar.close"}}
    </div>
  </div>
  </div>
  <div class="ui form">
    <div class="groupedit-toolbar-info-modal-dialog-content center aligned ui field">
      <textarea id='groupeditToolbarInfoContent' cols='80' rows='20'>{{_infoModalDialogContent}}</textarea>
    </div>
  </div>
</div>
