
<div class="ui two column grid">
  <div class="column">
    <div class="ui fixed">
      <div class="ui two column grid">
        {{#each menu as |item index|}}
          {{#if razdelNumeration}}
            <div class="column">
              <h3 class="ui header">{{increase-number index}}</h3>
            </div>
          {{/if}}
          <div class="column">
            <h3 class="ui header">{{item.razdelName}}</h3>
            {{#each item.children as |child|}}
              <div>
                <a class={{concat "tab item" item.class (if child.active " active")}}
                  title={{child.gruppaPolejVvodaName}}
                  data-tab={{child.selector}}
                  {{action "change" child on="click"}}>
                  {{child.gruppaPolejVvodaName}}
                </a>
                {{#if child.showAsterisk}}
                  <div class="cell asterisk-cell">
                    <i class="asterisk small red icon"></i>
                  </div>
                {{/if}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
      <div>
        {{flexberry-button
          class="basic showAllFormsButton"
          iconClass="edit icon"
          caption=(t "components.highload-edit-form-menu.show-all-forms-button")
          tooltip=(t "components.highload-edit-form-menu.show-all-forms-button")
          readonly=readonly
          click=(action "showAllForms")
        }}
      </div>
    </div>
  </div>
  <div class="column">
    {{yield}}
    <div class="ui two column grid">
      <div class="column">
        {{flexberry-button
          class="basic tabsNavigation"
          iconClass="icon arrow down"
          caption="Далее"
          readonly=readonly
          click=(action "showNextGroupForms")
        }}
      </div>
      <div class="column">
        {{flexberry-button
          class="basic tabsNavigation"
          iconClass="icon arrow up"
          caption="Назад"
          readonly=readonly
          click=(action "showPrevGroupForms")
        }}
      </div>
    </div>
  </div>
</div>