<div class="ui two column grid highloaded-menu">
  {{#each menu as |item index|}}
    <div class="one wide column">
      <h3 class="ui header number">{{increase-number index}}</h3>
    </div>
    <div class="fourteen wide column">
      <h3 class="ui header title">{{item.razdelName}}</h3>
      <ul class="list">
      {{#each item.children as |child|}}
        <li class="tab-item-container">
          <a class={{concat "tab item" (if child.active " active")}}
          title="{{child.gruppaPolejVvodaName}}"
          data-tab="{{activeForm}}"
          {{action "change" child on="click"}}>
          {{child.gruppaPolejVvodaName}}
        </a>
        {{!-- {{#if (and showAsteriskInRow record.data.hasDirtyAttributes)}} --}}
          <div class="cell asterisk-cell">
            <i class="asterisk small red icon"></i>
          </div>
        {{!-- {{/if}} --}}
        </li>
      {{/each}}
      </ul>
    </div>
  {{/each}}
</div>
<div>
  {{flexberry-button
    class="basic"
    iconClass="edit icon"
    caption=(t "components.highload-edit-form-menu.show-all-forms-button")
    tooltip=(t "components.highload-edit-form-menu.show-all-forms-button")
    readonly=readonly
    click=(action "showAllForms")
  }}
</div>
