{{input
  type="text"
  class="form-control form-control-trunc"
  placeholder=placeholder
  disabled=true
  value=value
}}
<button class="btn btn-primary" {{action 'choose' relationName projection}}>{{chooseText}}</button>
<button class="btn btn-primary" {{action 'remove' relationName}}>{{removeText}}</button>