{{#if showHeader}}
  <i class="close icon"></i>
  <div class="header">{{title}}</div>
{{/if}}
<div class="{{if viewImageContent "image"}} {{if _toolbarVisible "smallerContentSize"}} scrolling content">
  {{#if viewImageContent}}
    <div class="ui centered image">{{yield}}</div>
  {{else}}
    {{yield}}
  {{/if}}
</div>
{{#if _toolbarVisible}}
  <div class="actions">
    {{#if useCloseButton}}
      <button class="ui cancel button" type="button" data-dismiss="modal" title={{t "components.modal-dialog.close-button-text"}}>
        {{t "components.modal-dialog.close-button-text"}}
      </button>
    {{/if}}
    {{#if useOkButton}}
      <button class="ui positive button" type="button" title={{t "components.modal-dialog.ok-button-text"}}>
        {{t "components.modal-dialog.ok-button-text"}}
      </button>
    {{/if}}
  </div>
{{/if}}