<div class="ui modal"
     style="width:{{modalWindowWidthComputed}}px; min-width:{{modalWindowWidthComputed}}px; height:{{modalWindowHeightComputed}}px; min-height:{{modalWindowHeightComputed}}px;">
  <i class="close icon"></i>
  <div class="header">
    {{title}}
  </div>
  <div class=" {{if viewImageContent 'image' ''}} content" style="height:{{modalWindowContentHeightComputed}}px;">
    {{#if viewImageContent}}
      <div class="centered" style='height:100%; width:100%;'>
        {{yield}}
      </div>
    {{else}}
      <div class="description">
        {{yield}}
      </div>
    {{/if}}
  </div>
  {{#if toolbarVisible}}
    <div class="actions">
      {{#if useCloseButton}}
        <button type="button" class="ui cancel button" data-dismiss="modal">{{t "modal-dialog.close-button-text"}}</button>
      {{/if}}
      {{#if useOkButton}}
        <button type="button" class="ui positive button">{{t "modal-dialog.ok-button-text"}}</button>
      {{/if}}
    </div>
  {{/if}}
</div>
