<thead>
  <tr>
    <th class="object-list-view-operations {{if (not (or showCheckBoxInRow showDeleteButtonInRow)) 'hidden'}}"></th>
    {{#each columns as |column|}}
      {{component headerCellComponent column=column}}
    {{/each}}
    {{#if (or showEditMenuItemInRow showDeleteMenuItemInRow menuInRowHasAdditionalItems)}}
      <th class="object-list-view-menu"></th>
    {{/if}}
  </tr>
</thead>
<tbody>
  {{#if (eq contentWithKeys.length 0)}}
    <tr>
      <td colspan="{{_colCount}}" style="text-align:center;">{{noDataMessage}}</td>
    </tr>
  {{/if}}
  {{#each contentWithKeys key="key" as |record|}}
    <tr>
      <td class="object-list-view-operations {{if (not (or showCheckBoxInRow showDeleteButtonInRow)) 'hidden'}}">
        <div style="display: none">{{record.key}}
        </div>
        <div class="ui middle aligned grid">
          <div class="column object-list-view-asterisk {{if (not record.data.hasDirtyAttributes) 'hidden'}}">
            <i class="asterisk small red icon"></i>
          </div>
          {{#if showCheckBoxInRow}}
            <div class="column">
              <div class="ui checkbox {{if readonly 'disabled'}}">
                <input type="checkbox" disabled={{readonly}} {{action 'selectRow' record.key record.data preventDefault=false}}>
  			         <label></label>
  			       </div>
            </div>
          {{/if}}
          {{#if showDeleteButtonInRow}}
            <div class="column">
              <button class="ui primary button {{if readonly 'disabled'}}" {{action 'deleteRow' record.key record.data}}>
                <i class="minus icon"></i>
              </button>
            </div>
          {{/if}}
        </div>
      </td>
      {{#each columns as |column|}}
        <td {{action 'rowClick' record.key record.data preventDefault=false}}>
          {{component column.cellComponent.componentName
            dynamicProperties=column.cellComponent.componentProperties
            relatedModel=record.data
            value=(mut (get record.data column.propName))
            readonly=readonly
            required=required
          }}
        </td>
      {{/each}}
      {{#if (or showEditMenuItemInRow showDeleteMenuItemInRow menuInRowHasAdditionalItems)}}
        <td class="object-list-view-menu">
          {{flexberry-menu
            class='icon vertical'
            items=menuInRowItems
            onItemClick=(action 'menuInRowItemClick' record.key record.data)
            relatedModel=record.data
          }}
        </td>
      {{/if}}
    </tr>
  {{/each}}
</tbody>