{{#each columns as |column|}}
  <div class="field {{if (and showValidationMessages (v-get model column.propName "isInvalid")) "error"}}">
    <label>{{if column.keyLocale (t column.keyLocale) column.header}}</label>
    <div class="inline fields {{if (not hasEditableValues) "readonly"}}">
      {{#if column.cellComponent.componentName}}
        {{component column.cellComponent.componentName
          dynamicProperties=column.cellComponent.componentProperties
          relatedModel=model
          value=(mut (get model column.propName))
          readonly=readonly
          required=required
        }}
      {{else}}
        <div class="oveflow-text">
          {{get-formatted model column.propName
            dateFormat=dateFormat
            moment=moment
          }}&nbsp;
        </div>
      {{/if}}
      {{#if showValidationMessages}}
        {{flexberry-validationmessage
          error=(v-get model column.propName "messages")
          pointing="left pointing"
        }}
      {{/if}}
    </div>
  </div>
{{/each}}
