{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='error'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}
<table class="object-list-view ui unstackable celled {{if readonly 'readonly'}} {{tableClass}} table">
  <thead>
    <tr>
      {{#if showHelperColumn}}
        <th class="object-list-view-operations collapsing {{unless showHelperColumn 'hidden'}}" data-olv-header-property-name="OlvRowToolbar"></th>
      {{/if}}
      {{#each columns as |column|}}
        <th class="dt-head-left me class" onclick={{ action "headerCellClick" column }}>
          <div data-olv-header-property-name={{column.propName}} title={{sortTitleCompute}}>
            <span>
            {{#if column.keyLocale}}
              {{t column.keyLocale}}
            {{else}}
              {{column.header}}
            {{/if}}
            </span>
            {{#if column.sorted}}
              <div style="float:right;">
                {{#if column.sortAscending}}
                  <div title="Order ascending">
                  ▲{{column.sortNumber}}
                  </div>
                {{else}}
                  <div title="Order descending">
                  ▼{{column.sortNumber}}
                  </div>
                {{/if}}
              </div>
            {{/if}}
          </div>
        </th>
      {{/each}}
      {{#if showMenuColumn}}
        <th class="object-list-view-menu collapsing" data-olv-header-property-name="OlvRowMenu"></th>
      {{/if}}
    </tr>
  </thead>
  <tbody class="{{if showLoadingTbodyClass 'ui loading form' ''}}">
    {{#if showFilters}}
      <tr>
        <td rowspan="2" class="{{unless (and showHelperColumn hasContent) 'hidden'}}"></td>
        {{#each columns as |column|}}
          <td>
            {{#if column.filter.conditions}}
              {{component "flexberry-dropdown"
                value=column.filter.condition
                items=column.filter.conditions
                class="compact fluid"
                placeholder=""
                needChecksOnValue=false
              }}
            {{/if}}
          </td>
        {{/each}}
        {{#if showMenuColumn}}
          <td rowspan="2"></td>
        {{/if}}
      </tr>
      <tr>
        {{#each columns as |column|}}
          <td>
            {{#if column.filter.component.name}}
              {{component column.filter.component.name
                value=column.filter.pattern
                dynamicProperties=column.filter.component.properties
              }}
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{/if}}
    {{#if rowsInLoadingState}}
      <tr>
        <td colspan="{{colspan}}" style="text-align:center;">
          <div class="ui active centered inline loader"></div> {{t "components.object-list-view.loading-text"}}
        </td>
      </tr>
    {{/if}}
    {{#unless content}}
      <tr>
        <td colspan="{{colspan}}" style="text-align:center;">
            {{placeholder}}
        </td>
      </tr>
    {{else}}
      {{#each contentWithKeys key="key" as |record|}}
        {{object-list-view-row
          record=record
          columns=columns
          readonly=readonly
          required=required
          showMenuColumn=showMenuColumn
          sendMenuItemAction=sendMenuItemAction
          menuInRowAdditionalItems=menuInRowAdditionalItems
          showHelperColumn=showHelperColumn
          defaultRowConfig=defaultRowConfig
          showValidationMessages=showValidationMessagesInRow
          showAsteriskInRow=showAsteriskInRow
          showCheckBoxInRow=showCheckBoxInRow
          showDeleteButtonInRow=showDeleteButtonInRow
          showDeleteMenuItemInRow=showDeleteMenuItemInRow
          showEditMenuItemInRow=showEditMenuItemInRow
          hierarchicalIndent=hierarchicalIndent
          inHierarchicalMode=inHierarchicalMode
          loadRecords=loadRecords
          doRenderData=record.doRenderData
          rowClick=(action "rowClick")
          selectRow=(action "selectRow")
          deleteRow=(action "deleteRow")
          defaultLeftPadding=defaultLeftPadding
        }}
      {{/each}}
      {{#if rowByRowLoadingProgress}}
        <tr>
          <td colspan="{{colspan}}" style="text-align:center;">
            <div class="ui active centered inline loader"></div>
            {{t "components.object-list-view.loading-text"}}
          </td>
        </tr>
      {{/if}}
    {{/unless}}
  </tbody>
</table>
