<thead>
  <tr>
    {{#if (or showCheckBoxInRow showDeleteButtonInRow ) }}
      <th></th>
    {{/if}}
    {{#each columns as |column|}}
      {{component headerCellComponent column=column}}
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each contentWithKeys key="key" as |record|}}
    <tr class="{{ if (eq selectedRecord record.data ) 'active' }}" {{action 'rowClick' record.data preventDefault=false}}>
      {{#if (or showCheckBoxInRow showDeleteButtonInRow) }}
        <td class="object-list-view-operations-td">
          <div style="display: none">{{record.key}}</div>
          <div class="ui middle aligned grid">
            {{#if showCheckBoxInRow}}
              <div class="column">
		        <div class="ui checkbox {{if readonly 'disabled'}}">
                <input type="checkbox" disabled={{readonly}} {{action 'selectRow' record.key record.data preventDefault=false}}>
			    <label></label>
			  </div>
            </div>
            {{/if}}
            {{#if showDeleteButtonInRow}}
              <div class="column">
                <button class="ui primary button {{if readonly 'disabled'}}" {{action 'deleteRow' record.key record.data}}><i class="minus icon"></i></button>
              </div>
            {{/if}}
		  </div>
        </td>
      {{/if}}
      {{#each columns as |column|}}
        {{component column.cellComponent column=column record=record.data readonly=readonly}}
      {{/each}}
    </tr>
  {{/each}}
</tbody>