<div data-olv-header-property-name={{column.propName}} title="Click to change ordering, Ctrl+Click to append ordering for this column">
  <span>{{column.header}}</span>
  {{#if column.sorted}}
    <div style="float:right;">
      {{#if column.sortAscending}}
        <div title="Order ascending">
        ▲{{column.sortNumber}}
        </div>
      {{else}}
        <div title="Order descending">
        ▼{{column.sortNumber}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
