{{#if refreshButton}}
  <button class="ui {{buttonClass}} button" {{action "refresh"}}>
    {{t "olv-toolbar.refresh-button-text"}}
  </button>
{{/if}}
{{#if createNewButton}}
  <button class="ui {{buttonClass}} {{if enableCreateNewButton '' 'disabled'}} button" {{action "createNew"}}>
    {{t "olv-toolbar.add-button-text"}}
  </button>
{{/if}}
{{#if deleteButton}}
  <button class="ui {{buttonClass}} {{if isDeleteButtonEnabled '' 'disabled'}} button" {{action "delete"}}>
    {{t "olv-toolbar.delete-button-text"}}
  </button>
{{/if}}
{{#if filterButton}}
  <div class="ui action input">
    {{input
      type="text"
      placeholder=(t "olv-toolbar.filter-by-any-match-placeholder")
      value=filterByAnyMatchText enter="filterByAnyMatch"
    }}
    <button class="ui {{buttonClass}} icon button" {{action "filterByAnyMatch"}}>
      <i class="search icon"></i>
    </button>
  </div>
{{/if}}
{{#each customButtonsArray as |customButton|}}
  <button class="ui {{if customButton.buttonClasses customButton.buttonClasses ''}} button" {{action 'customButtonAction' customButton.buttonAction}}>
    {{if customButton.buttonName customButton.buttonName (t "olv-toolbar.custom-button-text")}}
  </button>
{{/each}}