{{#if refreshButton}}
  <button class="ui {{buttonClass}} button" {{action "refresh"}}>
    {{t "components.olv-toolbar.refresh-button-text"}}
  </button>
{{/if}}
{{#if createNewButton}}
  <button class="ui {{buttonClass}} {{if enableCreateNewButton "" "disabled"}} button" {{action "createNew"}}>
    {{t "components.olv-toolbar.add-button-text"}}
  </button>
{{/if}}
{{#if deleteButton}}
  <button class="ui {{buttonClass}} {{if isDeleteButtonEnabled "" "disabled"}} button" {{action "delete"}}>
    {{t "components.olv-toolbar.delete-button-text"}}
  </button>
{{/if}}
{{#if enableFilters}}
  <button class="ui icon button {{if showFilters "active"}}" {{action toggleStateFilters}}>
    <i class="filter icon"></i>
  </button>
{{/if}}
{{#if filterButton}}
  <div class="ui action input">
    {{input
      type="text"
      placeholder=(t "components.olv-toolbar.filter-by-any-match-placeholder")
      value=filterByAnyMatchText enter="filterByAnyMatch"
    }}
    <button class="ui {{buttonClass}} icon button" {{action "filterByAnyMatch"}}>
      <i class="search icon"></i>
    </button>
    <button class="ui {{buttonClass}} icon button" {{action "removeFilter"}}>
      <i class="remove icon"></i>
    </button>
  </div>
{{/if}}
{{#if _colsConfigButton}}
  <div class="ui buttons">
    <button class="ui icon button" {{action "showConfigDialog"}}>
      <i class="large table icon"></i>
    </button>
    {{#if colsSettingsItems}}
      {{flexberry-menu
        items=colsSettingsItems
        onItemClick=(action "onMenuItemClick")
      }}
    {{/if}}
  </div>
{{/if}}
{{#each customButtons as |customButton|}}
  <button
    class="ui {{if customButton.buttonClasses customButton.buttonClasses ""}} button"
    {{action "customButtonAction" customButton.buttonAction}}>
    {{if customButton.buttonName customButton.buttonName (t "components.olv-toolbar.custom-button-text")}}
  </button>
{{/each}}
