{{#if refreshButton}}
  <button class="ui button" {{action "refresh"}}>Refresh</button>
{{/if}}
{{#if createNewButton}}
  <button class="ui button" {{action "createNew"}}>Add</button>
{{/if}}
{{#each customButtonsArray as |customButton|}}
  <button class="ui button {{ if customButton.buttonClasses customButton.buttonClasses ''}}" {{action 'customButtonAction' customButton.buttonAction}}>{{ if customButton.buttonName customButton.buttonName 'UserButton'}}</button>
{{/each}}
