{{#if refreshButton}}
  <button class="ui {{buttonClass}} button" {{action "refresh"}}>
    {{t "components.olv-toolbar.refresh-button-text"}}
  </button>
{{/if}}
{{#if createNewButton}}
  <button class="ui create-button {{buttonClass}} {{if enableCreateNewButton "" "disabled"}} button" {{action "createNew"}}>
    {{t "components.olv-toolbar.add-button-text"}}
  </button>
{{/if}}
{{#if deleteButton}}
  <button class="ui delete-button {{buttonClass}} {{if isDeleteButtonEnabled "" "disabled"}} button" {{action "delete"}}>
    {{t "components.olv-toolbar.delete-button-text"}}
  </button>
{{/if}}
{{#if availableHierarchicalMode}}
  <button class="ui button icon {{buttonClass}} {{if inHierarchicalMode "active"}}" {{action switchHierarchicalMode}}>
    <i class="sitemap icon"></i>
  </button>
{{/if}}
{{#if enableFilters}}
  <div class="ui icon buttons">
    <button class="ui button {{buttonClass}} {{if showFilters "active"}}" {{action toggleStateFilters}}>
      <i class="filter icon"></i>
    </button>
    {{#if filters}}
      <div class="or" data-text="&bull;"></div>
      <button class="ui button {{buttonClass}}" {{action resetFilters}}>
        <i class="remove icon"></i>
      </button>
    {{/if}}
  </div>
{{/if}}
{{#if filterButton}}
  <div class="ui action input">
    {{input
      type="text"
      placeholder=(t "components.olv-toolbar.filter-by-any-match-placeholder")
      value=filterByAnyMatchText enter="filterByAnyMatch"
    }}
    <button class="ui {{buttonClass}} icon button" {{action "filterByAnyMatch"}}>
      <i class="search icon"></i>
    </button>
    <button class="ui {{buttonClass}} icon button" {{action "removeFilter"}}>
      <i class="remove icon"></i>
    </button>
  </div>
{{/if}}
{{#if exportExcelButton}}
  <div class="ui buttons">
    <button class="ui button icon {{buttonClass}}" {{action "showExportDialog"}}>
      <i class="large file excel outline icon"></i>
    </button>
    {{flexberry-menu
      items=exportExcelItems
      onItemClick=(action "onExportMenuItemClick")
    }}
  </div>
{{/if}}
{{#if colsConfigButton}}
  <div class="ui buttons">
    <button class="ui icon button" {{action "showConfigDialog"}}>
      <i class="large table icon"></i>
    </button>
    {{#if colsSettingsItems}}
      {{flexberry-menu
        items=colsSettingsItems
        onItemClick=(action "onMenuItemClick")
      }}
    {{/if}}
  </div>
{{/if}}
{{#each customButtons as |customButton|}}
  <button
    class="ui {{if customButton.buttonClasses customButton.buttonClasses ""}} button"
    {{action "customButtonAction" customButton.buttonAction}}>
    {{if customButton.buttonName customButton.buttonName (t "components.olv-toolbar.custom-button-text")}}
  </button>
{{/each}}
<div class="olv-toolbar-info-modal-dialog ui small basic modal">
  <div class="ui icon header">
    <i class="olvt icon"></i>
    {{_infoModalDialogCaption}}
  </div>
  <div class="center aligned ui grid">
  <button class="ui icon button" {{action "copyJSONContent"}} id='OLVToolbarInfoCopyButton'>
      <i class="copy icon"></i>
      {{t "components.olv-toolbar.copy"}}
    </button>
    <div class="actions">
    <div class="olv-toolbar-info-modal-dialog-ok-button ui approve green inverted button" >
        <i class="remove icon"></i>
        {{t "components.olv-toolbar.close"}}
      </div>
    </div>
  </div>
  <div class="ui form">
    <div class="olv-toolbar-info-modal-dialog-content center aligned ui field">
      <textarea id='OLVToolbarInfoContent' cols='80' rows='20'>{{_infoModalDialogContent}}</textarea>
    </div>
  </div>
</div>
