{{olv-toolbar 
  class = "ui secondary menu"
  modelName = "employee"
  createNewButton = true
  refreshButton = true
  modelController = this
}}
{{ember-table
  class = "ui bottom attached"
  hasFooter = false
  enableContentSelection = false
  columns = tableColumns
  content = tableContent
}}
<div class="ui secondary menu">
  <div class="ui basic buttons">
    <button class="ui {{unless hasPreviousPage 'disabled'}} button" {{action "previousPage"}}>&laquo;</button>
    {{#each pages as |page|}}
      {{#if page.isEllipsis}}
          <button class="ui button">...</button>
      {{else}}
        {{#if page.isCurrent}}
            <button class="ui active button">{{page.number}}</button>
        {{else}}
            <button class="ui button" {{action 'gotoPage' page.number}}>{{page.number}}</button>
        {{/if}}
      {{/if}}
    {{/each}}
    <button class="ui {{unless hasNextPage 'disabled'}} button" {{action "nextPage"}}>&raquo;</button>
  </div>
  <div class="right menu">
    {{#ui-dropdown selection = per_page class = "compact selection"}}
        <i class="dropdown icon"></i>
        <div class="text">{{per_page}}</div>
        <div class="menu">
          {{#each perPageValues as |perPageValue|}}
              <div class="item" data-value={{perPageValue}}>{{perPageValue}}</div>
          {{/each}}
        </div>
    {{/ui-dropdown}}
  </div>
</div>
