{{flexberry-error error=error}}
<h3>{{t "forms.ember-flexberry-dummy-suggestion-list.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{ui-message
    type="success"
    closeable=true
    visible=showFormSuccessMessage
    caption=formSuccessMessageCaption
    message=formSuccessMessage
    onShow=(action "onSuccessMessageShow")
    onHide=(action "onSuccessMessageHide")
  }}
  {{ui-message
    type="error"
    closeable=true
    visible=showFormErrorMessage
    caption=formErrorMessageCaption
    message=formErrorMessage
    onShow=(action "onErrorMessageShow")
    onHide=(action "onErrorMessageHide")
  }}
  <div class="field">
  {{flexberry-objectlistview
    editFormRoute=editFormRoute
    showCheckBoxInRow=true
    modelName="ember-flexberry-dummy-suggestion"
    modelProjection=modelProjection
    content=model
    createNewButton=false
    refreshButton=true
    exportExcelButton=true
    sorting=computedSorting
    orderable=true
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    recordsTotalCount=recordsTotalCount
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
    componentName="SuggestionObjectListView"
    showDeleteMenuItemInRow=true
    showEditMenuItemInRow=true
    deleteButton=true
  }}
</div>
</form>
