<h3 class="ui header">{{t "forms.components-examples.flexberry-groupedit.model-update-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <button class="ui button add-deteil" {{action "addDetail" record}}>{{t "forms.components-examples.flexberry-groupedit.model-update-example.addDetailButton"}}</button>
    <button class="ui button delete-deteil" {{action "deleteDetail" record}}>{{t "forms.components-examples.flexberry-groupedit.model-update-example.removeDetailButton"}}</button>
  </div>
  <div class="field">
    {{flexberry-groupedit
        componentName="aggregatorDetailsGroupedit"
        content=model.details
        modelProjection=modelProjection.attributes.details
        placeholder=placeholder
        readonly=readonly
        createNewButton=true
        deleteButton=true
        showAsteriskInRow=true
        showCheckBoxInRow=true
        showDeleteButtonInRow=true
        rowClickable=false
        immediateDelete=false
        editOnSeperateRoute=false
        searchForContentChange=searchForContentChange
        orderable=false
        readonly=readonly
      }}
  </div>
</form>