<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  <button class="ui button" {{action 'modalWindow' "#example-mobile"}}>{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.buttonModal"}}</button>
  <button class="ui button" {{action 'modalWindowDouble' "#example-mobile"}}>{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.buttonModalDouble"}}</button>
</form>

{{#ui-modal id="repeat-window"}}
  <div class="header">{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.captionModal"}}</div>
  <div class="content">
    <div class="ui form flexberry-vertical-form">
      <div class="field">
        {{flexberry-lookup
          value=model.editor1
          relatedModel=model
          relationName="editor1"
          projection="ApplicationUserL"
          displayAttributeName="name"
          readonly=readonly
          choose=(action "showLookupDialog")
          remove=(action "removeLookupValue")
        }}
      </div>
      <button class="ui button" {{action 'logOut'}}>{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.buttonClose"}}</button>
    </div>
  </div>
{{/ui-modal}}

{{#ui-modal id="repeat-window-double"}}
  <div class="header">{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.captionModalDouble"}}</div>
  <div class="content">
    <div class="ui form flexberry-vertical-form">
      <div class="field">
        {{flexberry-lookup
          value=model.type
          projection="SuggestionTypeL"
          displayAttributeName="name"
          title="Master"
          relationName="type"
          choose=(action "showLookupDialog")
          remove=(action "removeLookupValue")
          readonly=readonly
        }}
      </div>
      <button class="ui button" {{action 'logOutDouble'}}>{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.buttonClose"}}</button>
    </div>
  </div>
{{/ui-modal}}
