<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.lookup-block-form-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.editor1-caption"}}</label>
    {{#flexberry-lookup
      value=model.editor1
      relatedModel=model
      relationName="editor1"
      projection="ApplicationUserL"
      displayAttributeName="Name"
      readonly=readonly
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
    }}
      {{model.editor1.name}}<br>
      {{model.editor1.eMail}}<br>
      {{model.editor1.gender}}
    {{/flexberry-lookup}}
    {{flexberry-validationmessage error=(v-get validationObject "editor1" "messages")}}
  </div>
</form>
