{{#if sitemap.link}}
  {{#link-to sitemap.link title=sitemap.title}}
    <div class="title-item-menu">
      {{#if sitemap.icon}}
        <i class="icon {{sitemap.icon}}"></i>
      {{/if}}
      {{sitemap.caption}}
    </div>
  {{/link-to}}
{{else if sitemap.caption}}
    <i class="dropdown icon"></i>
    <div class="title-item-menu">
      {{#if sitemap.icon}}
        <i class="icon {{sitemap.icon}}"></i>
      {{/if}}
      {{sitemap.caption}}
    </div>
    {{#if sitemap.children.length}}
      <div class="menu">
        {{#each sitemap.children as |child|}}
          {{flexberry-sitemap sitemap=child isDropDown=false classNames="item"}}
        {{/each}}
      </div>
    {{/if}}
{{else if sitemap.nodes}}
  {{#each sitemap.nodes as |node|}}
    {{flexberry-sitemap sitemap=node isDropDown=true}}
  {{/each}}
{{/if}}
