<div class="ui segments">
  <div class="ui segment">
    <div class="ui segment">
      <h4 class="ui header">{{t "components.settings-example.component-template-caption"}}</h4>
      {{componentTemplateText}}
    </div>
  </div>
  <div class="ui segment">
    <div class="ui three column celled grid">
      <div class="row">
        <div class="column">
          <h4 class="ui header">{{t "components.settings-example.controller-properties-caption"}}</h4>
        </div>
        <div class="column">
          <h4 class="ui header">{{t "components.settings-example.component-current-settings-caption"}}</h4>
        </div>
        <div class="column">
          <h4 class="ui header">{{t "components.settings-example.component-default-settings-caption"}}</h4>
        </div>
      </div>
      {{#each componentSettingsMetadata as |settingMetadata|}}
        <div class="row">
          <div class="column">
            {{settingMetadata.bindedControllerPropertieName}}=
            {{#if (eq settingMetadata.settingType "boolean")}}
              {{input type="checkbox" checked=(mut (get controllerProperties settingMetadata.bindedControllerPropertieName))}}
            {{/if}}
            {{#if (eq settingMetadata.settingType "string")}}
              {{input type="text" value=(mut (get controllerProperties settingMetadata.bindedControllerPropertieName))}}
            {{/if}}
            {{#if (eq settingMetadata.settingType "date")}}
              {{input type="date" value=(mut (get controllerProperties settingMetadata.bindedControllerPropertieName))}}
            {{/if}}
            {{#if (eq settingMetadata.settingType "datetime")}}
              {{input type="datetime-local" value=(mut (get controllerProperties settingMetadata.bindedControllerPropertieName))}}
            {{/if}}
            {{#if (eq settingMetadata.settingType "enumeration")}}
              <select onchange={{action (mut (get controllerProperties settingMetadata.bindedControllerPropertieName)) value="target.value"}}>
                <option></option>
                {{#each settingMetadata.settingAvailableItems as |item|}}
                  <option value={{item}} selected={{eq (get controllerProperties settingMetadata.bindedControllerPropertieName) item}}>
                    {{to-string item}}
                  </option>
                {{/each}}
              </select>
            {{/if}}
          </div>
          <div class="column">
            {{to-string settingMetadata.settingName}}={{to-string (get controllerProperties settingMetadata.bindedControllerPropertieName)}}
          </div>
          <div class="column">
            {{to-string settingMetadata.settingName}}={{to-string settingMetadata.settingDefaultValue}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="ui segment">
    <div class="ui segment">
      <h4 class="ui header">{{t "components.settings-example.component-with-applied-settings-caption"}}</h4>
      {{yield}}
    </div>
  </div>
</div>