<div class="ui segments">
  <div class="ui segment settinghead">
    <div class="ui segment settinghead">
      <h4 class="ui header">{{t "components.settings-example.component-template-caption"}}</h4>
      <pre><code>{{componentTemplateText}}</code></pre>
    </div>
  </div>
  <div class="ui segment setting">
    <table class="ui celled table flexberry-word-break">
      <thead>
        <tr><th>{{t "components.settings-example.controller-properties-caption"}}</th>
        <th>{{t "components.settings-example.component-current-settings-caption"}}</th>
        <th>{{t "components.settings-example.component-default-settings-caption"}}</th>
      </tr></thead>
      <tbody>
        {{#each componentSettingsMetadata as |settingMetadata|}}
        <tr>
          <td>
            {{#if settingMetadata.bindedControllerPropertieName}}
                {{! Display controller's setting name }}
                {{#if settingMetadata.bindedControllerPropertieDisplayName}}
                  {{settingMetadata.bindedControllerPropertieDisplayName}}=
                {{else}}
                  {{settingMetadata.bindedControllerPropertieName}}=
                {{/if}}

                {{! Display controller's setting value }}
                {{#if settingMetadata.settingIsWithoutUI}}
                  {{! Immutable setting without UI }}
                  {{to-string settingMetadata.settingValue}}
                {{else}}
                  {{! Mutable setting with UI }}
                  {{#if (eq settingMetadata.settingType "boolean")}}
                    {{input
                      type="checkbox"
                      checked=(mut (get controllerProperties settingMetadata.bindedControllerPropertieName))
                    }}
                  {{/if}}

                  {{#if (eq settingMetadata.settingType "string")}}
                    {{input
                      type="text"
                      value=(mut (get controllerProperties settingMetadata.bindedControllerPropertieName))
                    }}
                  {{/if}}

                  {{#if (eq settingMetadata.settingType "number")}}
                    {{number-input
                      value=(mut (get controllerProperties settingMetadata.bindedControllerPropertieName))
                    }}
                  {{/if}}

                  {{#if (or (eq settingMetadata.settingType "date") (eq settingMetadata.settingType "datetime"))}}
                    {{flexberry-simpledatetime
                      type="datetime-local"
                      value=(mut (get controllerProperties settingMetadata.bindedControllerPropertieName))
                    }}
                  {{/if}}

                  {{#if (eq settingMetadata.settingType "enumeration")}}
                    <select onchange={{action (mut (get controllerProperties settingMetadata.bindedControllerPropertieName)) value="target.value"}}>
                      <option></option>
                      {{#each settingMetadata.settingAvailableItems as |item|}}
                        <option value={{item}} selected={{eq (get controllerProperties settingMetadata.bindedControllerPropertieName) item}}>
                          {{to-string item}}
                        </option>
                      {{/each}}
                    </select>
                  {{/if}}

                  {{#if (eq settingMetadata.settingType "css")}}
                    {{css-picker
                      value=(mut (get controllerProperties settingMetadata.bindedControllerPropertieName))
                      items=settingMetadata.settingAvailableItems
                    }}
                  {{/if}}

                  {{#if (eq settingMetadata.settingType "hasManyArray")}}
                    {{to-string (get controllerProperties settingMetadata.bindedControllerPropertieName)}}
                  {{/if}}

                  {{#if (eq settingMetadata.settingType "model")}}
                    {{to-string (get controllerProperties settingMetadata.bindedControllerPropertieName)}}
                  {{/if}}
                {{/if}}
              {{/if}}
            </td>
            <td>
              {{#if (or settingMetadata.settingIsWithoutUI (not settingMetadata.bindedControllerPropertieName))}}
                {{settingMetadata.settingName}}={{to-string settingMetadata.settingValue}}
              {{else}}
                {{to-string settingMetadata.settingName}}={{to-string (get controllerProperties settingMetadata.bindedControllerPropertieName)}}
              {{/if}}
            </td>
            <td>
              {{to-string settingMetadata.settingName}}={{to-string settingMetadata.settingDefaultValue}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="ui segment component">
    <div class="ui segment component" style="overflow: scroll">
      <h4 class="ui header">{{t "components.settings-example.component-with-applied-settings-caption"}}</h4>
      {{yield}}
    </div>
  </div>
</div>
