<div id="example-mobile">
  {{#ui-sidebar class="inverted vertical menu"}}
    <div class="header item">
      <a class="brand" href="#">Flexberry prototype written in Ember.js</a>
    </div>
    <a {{action 'openDevCommit'}}
         id="app-version"
         class="item"
         title="It is version of ember-flexberry addon, which uses in this dummy application (npm version + commit sha). Click to open commit on GitHub."
         target="_blank">
        Версия {{app-version}}
    </a>
    {{render "sitemap" sitemap}}
  {{/ui-sidebar}} 
  <div class="pusher">
    <div class="full height">
      <div class="ui top fixed inverted menu">
        <a {{ action 'toggleSidebar' }} class="launch icon item"><i class="sidebar icon"></i></a>            
        <div class="right menu">              
          {{#if session.isAuthenticated}}
            <div class="item">
              <i class="user icon"></i>
              {{session.data.authenticated.userName}}
            </div>
            <a {{ action 'invalidateSession' }} class="item">Sign out</a>
          {{else}}
            <div class="item">
              {{#link-to 'login' class="ui primary button"}}Sign in{{/link-to}}
            </div>
          {{/if}}
        </div>
      </div>
      <div class="flexberry-content ui attached segment">
        {{outlet}}
        {{outlet 'modal'}}
      </div>
    </div>
  </div>
</div>
