{{#ui-sidebar class="inverted vertical menu"}}
  <a class="item"
     href="https://github.com/flexberry"
     target="_blank"
     title={{t "forms.application.sitemap.application-name.title"}}>
    <img class="ui centered image" src="assets/images/flexberry-logo.png" />
  </a>
  <a class="item"
     href={{addonVersionHref}}
     target="_blank"
     title={{t "forms.application.sitemap.application-version.title"}}>
    {{t "forms.application.sitemap.application-version.caption" version=addonVersion}}
  </a>
  {{render "sitemap" sitemap}}
{{/ui-sidebar}}
<div id="example-mobile" class="pusher">
  <div class="full height">
    <div class="ui top fixed inverted menu">
      <a {{action "toggleSidebar"}} class="launch icon item">
        <i class="sidebar icon"></i>
      </a>
      <div class="right menu">
        {{flexberry-dropdown
          class="compact"
          items=locales
          value=currentLocale
          placeholder=(t "forms.application.header.menu.language-dropdown.placeholder")
          readonly=readonly
          onChange=(action 'onLocaleChange')
        }}
      </div>
    </div>
    <div class="flexberry-content ui attached segment">
      {{outlet}}
      {{outlet "modal"}}
    </div>
  </div>
</div>
