{{#if isInAcceptanceTestMode}}
  {{outlet}}
  {{outlet "modal"}}
{{else}}
{{#flexberry-sidebar
  class="mobile inverted vertical main menu"
  settings=(hash
    onShow=(action "updateWidth")
    onHidden=(action "updateWidth")
  )
}}
  {{flexberry-sitemap-guideline sitemap=sitemap class="flexberry-sitemap"}}
  <div class="sitebar-footer">
    <a class="item"
      href={{addonVersionHref}}
      target="_blank"
      title={{t "forms.application.sitemap.application-version.title"}}>
      {{t "forms.application.sitemap.application-version.caption" version=addonVersion}}
    </a>
    <a {{action 'showModalSupport'}} class="item" title={{t "forms.support-form.caption"}}>{{t "forms.support-form.caption"}}</a>
  </div>
{{/flexberry-sidebar}}
<div class="bgw-fix mobile">
  <div class="background-logo mobile">
    <div class="ui top attached">
      <div class="ui attached menu mobile">
        <div class="ui container flex-container">
          <a {{action 'toggleSidebarMobile'}}
            class="launch icon item mobile"
            title={{t "forms.application.header.menu.sitemap-button.title"}}>
            <i class="sidebar icon text-menu-show"></i>
            <i class="sidebar icon hidden text-menu-hide hidden-text"></i>
          </a>
        </div>
      </div>
    </div>
    <a class="item logo"
      href="https://github.com/flexberry"
      target="_blank"
      title={{t "forms.application.sitemap.application-name.title"}}>
      <img class="ui centered image" src="/assets/images/flexberry-logo.png" />
    </a>
    <a class="page-header-caption" href="https://github.com/flexberry">
      <span class="page-header-caption-app-name">{{t "application-name"}}</span>
    </a>
    <div class="page-header-userbar">
      <img src="assets/images/user-foto.jpg"/>
    </div>
  </div>
</div>
<div id="example-mobile" class="pusher mobile">
  <div class="ui form {{appState.state}}">
    <div class="full height" >
      <div class="flexberry-content ui attached segment">
        <div class="ui main container">
          <div class="stackable grid container">
            {{outlet}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui main container">
  {{outlet "modal"}}
</div>
<div class="ui vertical footer segment">
  <div class="ui container flex-container mobile-footer">
    <div class="ui text menu">
      <a class="brand item" href="#">
        {{t "forms.application.footer.application-name"}}
      </a>
      <div class="right menu">
        <a class="item"
          href={{addonVersionHref}}
          target="_blank"
          title={{t "forms.application.footer.application-version.title"}}>
            {{t "forms.application.footer.application-version.caption" version=addonVersion}}
        </a>
      </div>
    </div>
  </div>
</div>
{{/if}}
