<h3 class="ui header">{{t "forms.components-examples.flexberry-objectlistview.inheritance-models.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{ui-message
    type="success"
    closeable=true
    visible=showFormSuccessMessage
    caption=formSuccessMessageCaption
    message=formSuccessMessage
    onShow=(action "onSuccessMessageShow")
    onHide=(action "onSuccessMessageHide")
  }}
  {{ui-message
    type="error"
    closeable=true
    visible=showFormErrorMessage
    caption=formErrorMessageCaption
    message=formErrorMessage
    onShow=(action "onErrorMessageShow")
    onHide=(action "onErrorMessageHide")
  }}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-button" {{action "save"}}>{{t "forms.edit-form.save-button-text"}}</button>
        {{/unless}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-close-button" {{action "saveAndClose"}}>{{t "forms.edit-form.saveAndClose-button-text"}}</button>
        {{/unless}}
        {{#unless (and model.isNew (or (not hasParentRoute) (and hasParentRoute saveBeforeRouteLeave)))}}
          <button type="submit" class="ui button save-del-button" {{action "delete"}}>{{t "forms.edit-form.delete-button-text"}}</button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action "close"}}>{{t "forms.edit-form.close-button-text"}}</button>
    </div>
  </div>
  <div class="field {{if model.errors.name "error" ""}}">
    {{flexberry-field
      value=model.name
      label=(t "forms.components-examples.flexberry-objectlistview.inheritance-models.name-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.eMail "error" ""}}">
    {{flexberry-field
      value=model.eMail
      label=(t "forms.components-examples.flexberry-objectlistview.inheritance-models.eMail-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.eMail pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.birthday "error" ""}}">
    <label>{{t "forms.components-examples.flexberry-objectlistview.inheritance-models.birthday-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      value=model.birthday
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.birthday pointing="pointing"}}
  </div>
</form>
