<h3 class="ui header">{{t "forms.components-examples.flexberry-objectlistview.inheritance-models.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{ui-message
    type="success"
    closeable=true
    visible=showFormSuccessMessage
    caption=formSuccessMessageCaption
    message=formSuccessMessage
    onShow=(action "onSuccessMessageShow")
    onHide=(action "onSuccessMessageHide")
  }}
  {{ui-message
    type="error"
    closeable=true
    visible=showFormErrorMessage
    caption=formErrorMessageCaption
    message=formErrorMessage
    onShow=(action "onErrorMessageShow")
    onHide=(action "onErrorMessageHide")
  }}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-button" {{action "save"}}>{{t "forms.edit-form.save-button-text"}}</button>
        {{/unless}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-close-button" {{action "saveAndClose"}}>{{t "forms.edit-form.saveAndClose-button-text"}}</button>
        {{/unless}}
        {{#unless (and model.isNew (or (not hasParentRoute) (and hasParentRoute saveBeforeRouteLeave)))}}
          <button type="submit" class="ui button save-del-button" {{action "delete"}}>{{t "forms.edit-form.delete-button-text"}}</button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action "close"}}>{{t "forms.edit-form.close-button-text"}}</button>
    </div>
  </div>
  <div class="field {{if (v-get validationObject "name" "isInvalid") "error"}}">
    {{flexberry-field
      value=model.name
      label=(t "forms.components-examples.flexberry-objectlistview.inheritance-models.name-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "name" "messages")}}
  </div>
  <div class="field {{if (v-get validationObject "vK" "isInvalid") "error"}}">
    {{flexberry-field
      value=model.vK
      label=(t "forms.components-examples.flexberry-objectlistview.inheritance-models.vK-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "vK" "messages")}}
  </div>
  <div class="field {{if (v-get validationObject "facebook" "isInvalid") "error"}}">
    {{flexberry-field
      value=model.facebook
      label=(t "forms.components-examples.flexberry-objectlistview.inheritance-models.facebook-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "facebook" "messages")}}
  </div>
  <div class="field {{if (v-get validationObject "twitter" "isInvalid") "error"}}">
    {{flexberry-field
      value=model.twitter
      label=(t "forms.components-examples.flexberry-objectlistview.inheritance-models.twitter-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "twitter" "messages")}}
  </div>
</form>
