<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.dropdown-mode-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <a href="https://flexberry.github.io/ru/ef3_flexberry-lookup.html#режим-выпадающего-списка">
    {{t "forms.components-examples.docs-link"}}
  </a>
  <div class="field">
    {{flexberry-field
      value=minCharactersValue
      label=label
      placeholder=placeholder
      type=type
    }}
  </div>
  <div class="field">
    <label>dropdownIsSearch=true, minCharacters={{minCharacters}}, dropdownSettings=(hash direction="downward")</label>
    {{flexberry-lookup
      value=model.type
      projection="DropDownLookupExampleView"
      displayAttributeName="name"
      title="Master"
      relationName="type"
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      updateLookupValue=(action "updateLookupValue")
      readonly=readonly
      lookupLimitPredicate=lookupCustomLimitPredicate
      dropdown=true
      dropdownIsSearch=true
      sorting="desc"
      minCharacters=minCharacters
    }}
  </div>
  <div class="field">
    <label>dropdownIsSearch=false, dropdownSettings=(hash direction="upward")</label>
    {{flexberry-lookup
      value=model.type
      projection="DropDownLookupExampleView"
      displayAttributeName="name"
      title="Master"
      relationName="type"
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      updateLookupValue=(action "updateLookupValue")
      readonly=readonly
      lookupLimitPredicate=lookupCustomLimitPredicate
      dropdown=true
      sorting="desc"
      dropdownSettings=(hash direction="upward")
    }}
  </div>
</form>