<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  <button class="ui button" {{action "modalWindow" "#example"}}>{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.buttonModal"}}</button>
  <button class="ui button" {{action "modalWindowDouble" "#example"}}>{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.buttonModalDouble"}}</button>
</form>

<div class="ui modal repeat-window hidden">
  <i class="close icon"></i>
  <div class="header">{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.captionModal"}}</div>
  <div class="content">
    <div class="ui form flexberry-vertical-form">
      <div class="field">
        {{flexberry-lookup
          value=model.editor1
          relatedModel=model
          relationName="editor1"
          projection="ApplicationUserL"
          displayAttributeName="name"
          readonly=readonly
          choose=(action "showLookupDialog")
          remove=(action "removeLookupValue")
          updateLookupValue=(action "updateLookupValue")
        }}
      </div>
      <button class="ui button" {{action "logOut"}}>{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.buttonClose"}}</button>
    </div>
  </div>
</div>

<div class="ui modal repeat-window-double hidden">
  <i class="close icon"></i>
  <div class="header">{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.captionModalDouble"}}</div>
  <div class="content">
    <div class="ui form flexberry-vertical-form">
      <div class="field">
        {{flexberry-lookup
          value=model.type
          projection="SuggestionTypeL"
          displayAttributeName="name"
          title="Master"
          relationName="type"
          choose=(action "showLookupDialog")
          remove=(action "removeLookupValue")
          updateLookupValue=(action "updateLookupValue")
          readonly=readonly
        }}
      </div>
      <button class="ui button" {{action "logOutDouble"}}>{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.buttonClose"}}</button>
    </div>
  </div>
</div>
