<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.lookup-block-form-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="ui info message">
    <div class="header">
    {{t "forms.components-examples.flexberry-lookup.lookup-block-form-example.message"}}
    </div>
    <ul class="list">
      <li>{{t "forms.components-examples.flexberry-lookup.lookup-block-form-example.paragraph1"}}</li>
      <li>{{t "forms.components-examples.flexberry-lookup.lookup-block-form-example.paragraph2"}}</li>
      <li>{{t "forms.components-examples.flexberry-lookup.lookup-block-form-example.paragraph3"}}</li>
    </ul>
  </div>
</form>
