<h3 class="ui header">{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <button class="ui button" {{action 'modalwindow'}}>{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.buttonModal"}}</button>
    <button class="ui button" {{action 'modalwindowdouble'}}>{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.buttonModalDouble"}}</button>
  </div>
</form>
<div class="ui modal" id="repeat-window">
    <div class="header">{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.captionModal"}}</div>
    <div class="ui form flexberry-vertical-form">
        <div class="field">
          {{
            flexberry-lookup
              value=model.editor1
              relatedModel=model
              relationName="editor1"
              projection="ApplicationUserL"
              displayAttributeName="Name"
              readonly=readonly
              choose=(action "showLookupDialog")
              remove=(action "removeLookupValue")
          }}
        </div>
        <div class="field">
          <button class="ui button" {{action 'logout'}}>{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.buttonClose"}}</button>
        </div>
    </div>
</div>
<div class="ui modal" id="repeat-window-double">
    <div class="header">{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.captionModalDouble"}}</div>
    <div class="ui form flexberry-vertical-form">
        <div class="field">
          {{
            flexberry-lookup
            value=model.type
            projection="SuggestionTypeL"
            displayAttributeName="name"
            title="Master"
            relationName="type"
            choose=(action "showLookupDialog")
            remove=(action "removeLookupValue")
            readonly=readonly
          }}
        </div>
        <div class="field">
          <button class="ui button" {{action 'logoutdouble'}}>{{t "forms.components-examples.flexberry-lookup.lookup-in-modal.buttonClose"}}</button>
        </div>
    </div>
</div>
