{{input
  type="text"
  class="form-control form-control-trunc lookup-field"
  placeholder=placeholder
  readonly='readonly'
  value=value
}}
<button class="ui primary button" {{action 'choose' relationName projection title}}>{{chooseText}}</button>
<button class="ui primary button" {{action 'remove' relationName}}>{{removeText}}</button>
