<h3 class="ui header">{{t "forms.integration-examples.validations.different-components-integration.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      required=true
      value=model.votes
      class=(if model.errors.votes "error" "")
      label=(t "forms.ember-flexberry-dummy-comment-edit.votes-caption")
    }}
    {{flexberry-validationmessage error=model.errors.votes pointing='pointing'}}
  </div>
  <div class="field {{if model.errors.date 'error' ''}}">
    <label>{{t "forms.ember-flexberry-dummy-comment-edit.date-caption"}}</label>
    <div class="inline fields">
    {{flexberry-validationmessage error=model.errors.date pointing='right pointing'}}
    {{flexberry-datepicker
      placeholder='(no value)'
      readonly=readonly
      hasTimePicker=true
      value=model.date
    }}    
    </div>
  </div>
  <div class="field {{if model.errors.text 'error' ''}}">
  <label>{{t "forms.ember-flexberry-dummy-comment-edit.text-caption"}}</label>
    {{flexberry-textarea
      readonly=readonly
      required=true
      value=model.text
    }}
    {{flexberry-validationmessage error=model.errors.text pointing='pointing'}}
  </div>  
  <div class="field {{if model.errors.author 'error' ''}}">
    <label>{{t "forms.ember-flexberry-dummy-comment-edit.author-caption"}}</label>
    {{flexberry-lookup
      value=model.author
      projection="ApplicationUserL"
      displayAttributeName="name"
      title=(t "forms.ember-flexberry-dummy-comment-edit.author-caption")
      relatedModel=model
      relationName="author"
      choose="showLookupDialog"
      remove="removeLookupValue"
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.author pointing='pointing'}}
  </div>
  <div class="field {{if model.errors.gender 'error' ''}}">
    <label>{{t "forms.ember-flexberry-dummy-application-user-edit.gender-caption"}}</label>
    {{flexberry-dropdown
      items=(enum-captions "ember-flexberry-dummy-gender")
      value=model.gender
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.gender pointing='pointing'}}
  </div>
  <div class="field {{if model.errors.moderated 'error' ''}}">
    {{flexberry-checkbox
      readonly=readonly
      value=model.moderated
      label=(t "forms.ember-flexberry-dummy-comment-edit.moderated-caption")
    }}
    {{flexberry-validationmessage error=model.errors.moderated pointing='left pointing'}}
  </div>
</form>
