{{flexberry-error error=error}}
<h3 class="ui header">{{t "forms.components-examples.flexberry-objectlistview.configurate-rows.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <button {{action 'changeAttribute2'}} class="ui button">Change attribute 2</button>
  </div>
  <div class="field">
    {{#settings-example
      controllerProperties=this
      componentSettingsMetadata=componentSettingsMetadata
      componentTemplateText=componentTemplateText
    }}
      {{flexberry-objectlistview
        content=model
        modelName="ember-flexberry-dummy-suggestion"
        editFormRoute='ember-flexberry-dummy-suggestion-edit'
        modelProjection=projection
        filterByAnyMatch=(action "filterByAnyMatch")
        refreshButton=true
        filterText=filter
        sorting=computedSorting
        sortByColumn=(action "sortByColumn")
        addColumnToSorting=(action "addColumnToSorting")
        beforeDeleteAllRecords=(action "beforeDeleteAllRecords")
        pages=pages
        perPageValue=perPageValue
        perPageValues=perPageValues
        recordsTotalCount=recordsTotalCount
        hasPreviousPage=hasPreviousPage
        hasNextPage=hasNextPage
        previousPage=(action "previousPage")
        gotoPage=(action "gotoPage")
        nextPage=(action "nextPage")
        configurateRow=(action "configurateRow")
        componentName="FOLVConfigurateRowsObjectListView"
      }}
      {{flexberry-groupedit
        componentName="ConfigurateRowsGroupedit"
        content=model
        modelProjection=projection
        placeholder=placeholder
        readonly=readonly
        allowColumnResize=false
        createNewButton=true
        showAsteriskInRow=true
        showCheckBoxInRow=true
        rowClickable=false
        immediateDelete=false
        editOnSeperateRoute=false
        searchForContentChange=searchForContentChange
        orderable=false
        readonly=readonly
        configurateRow=(action "configurateRow")
      }}
    {{/settings-example}}
  </div>
</form>
