<h3 class="ui header">{{t "forms.components-examples.flexberry-objectlistview.inheritance-models.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="ui info message">
    <div class="header">
      {{t "forms.components-examples.flexberry-objectlistview.inheritance-models.message"}}
    </div>
    <ul class="list">
      <li>{{t "forms.components-examples.flexberry-objectlistview.inheritance-models.projectionBase"}}</li>
      <li>{{t "forms.components-examples.flexberry-objectlistview.inheritance-models.projectionSuccessorPhone"}}</li>
      <li>{{t "forms.components-examples.flexberry-objectlistview.inheritance-models.projectionSuccessorSoc"}}</li>
    </ul>
  </div>
  <button class="ui button" {{action 'root'}}>{{t "forms.components-examples.flexberry-objectlistview.inheritance-models.buttonRoot"}}</button>
  <button class="ui button" {{action 'successorPhone'}}>{{t "forms.components-examples.flexberry-objectlistview.inheritance-models.buttonSuccessorPhone"}}</button>
  <button class="ui button" {{action 'successorSoc'}}>{{t "forms.components-examples.flexberry-objectlistview.inheritance-models.buttonSuccessorSoc"}}</button>
</form>
