{{flexberry-error error=error}}
<h3 class="ui header">{{t "forms.components-examples.flexberry-objectlistview.limit-function-example.caption"}}</h3>
<div class="row">
{{flexberry-objectlistview
  modelName="ember-flexberry-dummy-suggestion"
  modelProjection=modelProjection
  content=model

  createNewButton=false
  showCheckBoxInRow=false
  showDeleteButtonInRow=false
  showEditMenuItemInRow=false
  showDeleteMenuItemInRow=false
  rowClickable=false

  filterByAnyMatch=(action 'filterByAnyMatch')
  filterText=filter
  filterButton=true

  refreshButton=true
  sorting=computedSorting
  orderable=true
  sortByColumn=(action "sortByColumn")
  addColumnToSorting=(action "addColumnToSorting")
  pages=pages
  perPageValue=perPageValue
  perPageValues=perPageValues
  recordsTotalCount=recordsTotalCount
  hasPreviousPage=hasPreviousPage
  hasNextPage=hasNextPage
  previousPage=(action "previousPage")
  gotoPage=(action "gotoPage")
  nextPage=(action "nextPage")
  componentName="FOLVLimitFunctionExampleObjectListView"
}}
</div>
<br>
<button class="ui button" {{action 'firstLimitFunction' on="click"}}>
  {{concat (t "forms.components-examples.flexberry-objectlistview.limit-function-example.captionFirstLimitFunction") ": " firstLimitType}}
</button>
<button class="ui button" {{action 'secondLimitFunction' on="click"}}>
  {{concat (t "forms.components-examples.flexberry-objectlistview.limit-function-example.captionSecondLimitFunction") ": " secondLimitType}}
</button>
<button class="ui button" {{action 'clearLimitFunction' on="click"}}>
  {{t "forms.components-examples.flexberry-objectlistview.limit-function-example.captionClearLimitFunction"}}
</button>
