{{flexberry-error error=error}}
<h3 class="ui header">{{t "forms.components-examples.flexberry-objectlistview.toolbar-custom-components-example.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <a href="https://flexberry.github.io/ru/ef3_setting-lists.html#встраивание-пользовательских-компонентов-в-тулбар-списка">
    {{t "forms.components-examples.docs-link"}}
  </a>
  <div class="field">
    <div class="ui segments">
      {{#if componentTemplateText}}
        <div class="ui segment">
          <div class="ui segment">
            <h4 class="ui header">{{t "components.settings-example.component-template-caption"}}</h4>
            <pre><code>{{componentTemplateText}}</code></pre>
          </div>
        </div>
      {{/if}}
      <div class="ui segment">
        <div class="ui segment">
          <div class="row">{{dropdownValue}}</div>
          {{flexberry-objectlistview
            editFormRoute=editFormRoute
            showCheckBoxInRow=true
            modelName="ember-flexberry-dummy-suggestion"
            modelProjection=modelProjection
            content=model
            filters=filters
            refreshButton=true
            createNewButton=true
            sorting=computedSorting
            sortByColumn=(action "sortByColumn")
            addColumnToSorting=(action "addColumnToSorting")
            beforeDeleteAllRecords=(action "beforeDeleteAllRecords")
            applyFilters=(action "applyFilters")
            resetFilters=(action "resetFilters")
            pages=pages
            perPageValue=perPageValue
            perPageValues=perPageValues
            recordsTotalCount=recordsTotalCount
            hasPreviousPage=hasPreviousPage
            hasNextPage=hasNextPage
            previousPage=(action "previousPage")
            gotoPage=(action "gotoPage")
            nextPage=(action "nextPage")
            customToolbarComponents=customToolbarComponents
            componentName="FOLVToolbarCustomComponentsExample"
          }}
        </div>
      </div>
    </div>
  </div>
</form>
