<h3 class="ui header">{{t "forms.ember-flexberry-dummy-suggestion-edit.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">

  <div class="ui stackable three column grid">
    <div class="field column {{if model.errors.text "error" ""}}">
      {{flexberry-field
        value=model.text
        label=(t "forms.ember-flexberry-dummy-suggestion-edit.text-caption")
        readonly=readonly
      }}
      {{flexberry-validationmessage error=model.errors.text pointing="pointing"}}
    </div>
    <div class="field column{{if model.errors.address "error" ""}}">
      {{flexberry-field
        value=model.address
        label=(t "forms.ember-flexberry-dummy-suggestion-edit.address-caption")
        readonly=readonly
      }}
      {{flexberry-validationmessage error=model.errors.address pointing="pointing"}}
    </div>
    <div class="field column {{if model.errors.text "error" ""}}">
      {{flexberry-field
        value=model.text
        label=(t "forms.ember-flexberry-dummy-suggestion-edit.text-caption")
        readonly=readonly
      }}
      {{flexberry-validationmessage error=model.errors.text pointing="pointing"}}
    </div>
  </div>
  <!-- /.ui stackable three column grid -->

  <div class="ui stackable three column grid">
    <div class="field column {{if model.errors.text "error" ""}}">
      {{flexberry-field
        value=model.text
        label=(t "forms.ember-flexberry-dummy-suggestion-edit.text-caption")
        readonly=readonly
      }}
      {{flexberry-validationmessage error=model.errors.text pointing="pointing"}}
    </div>

    <div class="field column {{if model.errors.date "error" ""}}">
      <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.date-caption"}}</label>
      {{flexberry-datepicker
        value=model.date
        readonly=readonly
      }}
      {{flexberry-validationmessage error=model.errors.date pointing="pointing"}}
    </div>
    <div class="field column {{if model.errors.date "error" ""}}">
      <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.date-caption"}}</label>
      {{flexberry-datepicker
        value=model.date
        readonly=readonly
      }}
      {{flexberry-validationmessage error=model.errors.date pointing="pointing"}}
    </div>
  </div>
  <!-- /.stackable three column grid-->

<div class="ui stackable three column grid">
  <div class="field column {{if model.errors.date "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.date-caption"}}</label>
    {{flexberry-datepicker
      value=model.date
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.date pointing="pointing"}}
  </div>

  <div class="field column {{if model.errors.address "error" ""}}">
    {{flexberry-field
      value=model.address
      label=(t "forms.ember-flexberry-dummy-suggestion-edit.address-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.address pointing="pointing"}}
  </div>
</div>
<!-- /.ui stackable three column grid -->


<div class="ui stackable two column grid">
  <div class="field column {{if model.errors.editor1 "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.editor1-caption"}}</label>
    {{flexberry-lookup
      value=model.editor1
      relatedModel=model
      relationName="editor1"
      projection="ApplicationUserL"
      displayAttributeName="name"
      title=(t "forms.ember-flexberry-dummy-suggestion-edit.editor1-caption")
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      readonly=readonly
      componentName="SuggestionEditEditor1"
    }}
    {{flexberry-validationmessage error=model.errors.editor1 pointing="pointing"}}
  </div>
  <div class="field column {{if model.errors.date "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.date-caption"}}</label>
    {{flexberry-datepicker
      value=model.date
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.date pointing="pointing"}}
  </div>
</div>
<!-- /.ui stackable two column grid -->

<div class="ui stackable two column grid">
  <div class="field column {{if model.errors.votes "error" ""}}">
    {{flexberry-field
      value=model.votes
      label=(t "forms.ember-flexberry-dummy-suggestion-edit.votes-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.votes pointing="pointing"}}
  </div>

  <div class="field column {{if model.errors.votes "error" ""}}">
    {{flexberry-field
      value=model.votes
      label=(t "forms.ember-flexberry-dummy-suggestion-edit.votes-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.votes pointing="pointing"}}
  </div>
</div>
<!-- /.ui stackable two column grid -->

<div class="ui stackable four column grid">
  <div class="field column {{if model.errors.author "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.author-caption"}}</label>
    {{flexberry-lookup
      value=model.author
      relatedModel=model
      relationName="author"
      projection="ApplicationUserL"
      displayAttributeName="name"
      title=(t "forms.ember-flexberry-dummy-suggestion-edit.author-caption")
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      readonly=readonly
      componentName="SuggestionEditAuthor"
    }}
    {{flexberry-validationmessage error=model.errors.author pointing="pointing"}}
  </div>
  <div class="field column {{if model.errors.date "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.date-caption"}}</label>
    {{flexberry-datepicker
      value=model.date
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.date pointing="pointing"}}
  </div>
    <div class="field column {{if model.errors.author "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.author-caption"}}</label>
    {{flexberry-lookup
      value=model.author
      relatedModel=model
      relationName="author"
      projection="ApplicationUserL"
      displayAttributeName="name"
      title=(t "forms.ember-flexberry-dummy-suggestion-edit.author-caption")
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      readonly=readonly
      componentName="SuggestionEditAuthor"
    }}
    {{flexberry-validationmessage error=model.errors.author pointing="pointing"}}
  </div>
</div>
<!-- /.ui stackable four column grid -->

<div class="ui stackable two column grid">
  <div class="field column {{if model.errors.text "error" ""}}">
    {{flexberry-field
      value=model.text
      label=(t "forms.ember-flexberry-dummy-suggestion-edit.text-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.text pointing="pointing"}}
  </div>
  <div class="field column {{if model.errors.moderated "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.moderated-caption"}}</label>
    {{flexberry-checkbox
      value=model.moderated
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.moderated pointing="pointing"}}
  </div>
</div>
<!-- /.ui stackable two column grid -->



<div class="ui stackable one column grid">
  <div class="field column {{if model.errors.type "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.type-caption"}}</label>
    {{flexberry-lookup
      value=model.type
      relatedModel=model
      relationName="type"
      projection="SuggestionTypeL"
      displayAttributeName="name"
      title=(t "forms.ember-flexberry-dummy-suggestion-edit.type-caption")
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      dropdown=true
      readonly=readonly
      direction="upward"
      componentName="SuggestionEditType"
    }}
    {{flexberry-validationmessage error=model.errors.type pointing="pointing"}}
  </div>
</div>
<!-- /.ui stackable one column grid -->

<div class="ui stackable three column grid">
  <div class="field column {{if model.errors.editor1 "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.editor1-caption"}}</label>
    {{flexberry-lookup
      value=model.editor1
      relatedModel=model
      relationName="editor1"
      projection="ApplicationUserL"
      displayAttributeName="name"
      title=(t "forms.ember-flexberry-dummy-suggestion-edit.editor1-caption")
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      readonly=readonly
      componentName="SuggestionEditEditor1"
    }}
    {{flexberry-validationmessage error=model.errors.editor1 pointing="pointing"}}
  </div>

  <div class="field column {{if model.errors.date "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.date-caption"}}</label>
    {{flexberry-datepicker
      value=model.date
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.date pointing="pointing"}}
  </div>

</div>
<!-- /.ui stackable three column grid -->


  <div class="field column {{if model.errors.files "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.files-caption"}}</label>
    {{flexberry-groupedit
      componentName="filesGroupEdit"
      content=model.files
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.files
      orderable=true
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.files pointing="pointing"}}
  </div>

  <div class="field column {{if model.errors.userVotes "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.userVotes-caption"}}</label>
    {{flexberry-groupedit
      componentName="suggestionUserVotesGroupEdit"
      content=model.userVotes
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.userVotes
      orderable=true
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.userVotes pointing="pointing"}}
  </div>
  
  <div class="field column {{if model.errors.comments "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.comments-caption"}}</label>
    {{flexberry-groupedit
      componentName="suggestionCommentsGroupEdit"
      content=model.comments
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.comments
      rowClickable=true
      rowClick="rowClick"
      editOnSeparateRoute=true
      editFormRoute=commentsEditRoute
      saveBeforeRouteLeave=true
      orderable=true
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.comments pointing="pointing"}}
  </div>
</form>
