<h3 class="ui header">{{t "forms.integration-examples.edit-form.validation.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=validationErrors}}
    </div>
  </div>
  <div class="field {{if validationErrors.flag "error" ""}}">
    <label>{{t "forms.integration-examples.edit-form.validation.flag-caption"}}</label>
    {{flexberry-checkbox
      value=model.flag
    }}
    {{flexberry-validationmessage error=validationErrors.flag pointing="left pointing"}}
  </div>
  <div class="field {{if validationErrors.number "error" ""}}">
    <label>{{t "forms.integration-examples.edit-form.validation.number-caption"}}</label>
    {{flexberry-textbox
      value=model.number
    }}
    {{flexberry-validationmessage error=validationErrors.number pointing="pointing"}}
  </div>
  <div class="field {{if validationErrors.text "error" ""}}">
    <label>{{t "forms.integration-examples.edit-form.validation.text-caption"}}</label>
    {{flexberry-textbox
      value=model.text
    }}
    {{flexberry-validationmessage error=validationErrors.text pointing="pointing"}}
  </div>
  <div class="field {{if validationErrors.longText "error" ""}}">
  <label>{{t "forms.integration-examples.edit-form.validation.long-text-caption"}}</label>
    {{flexberry-textarea
      value=model.longText
    }}
    {{flexberry-validationmessage error=validationErrors.longText pointing="pointing"}}
  </div>
  <div class="field {{if validationErrors.date "error" ""}}">
    <label>{{t "forms.integration-examples.edit-form.validation.date-caption"}}</label>
    <div class="inline fields">
    {{flexberry-validationmessage error=validationErrors.date pointing="right pointing"}}
    {{flexberry-datepicker
      value=model.date
    }}
    </div>
  </div>
  <div class="field {{if validationErrors.enumeration "error" ""}}">
    <label>{{t "forms.integration-examples.edit-form.validation.enumeration-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "integration-examples/edit-form/validation/enumeration")
      value=model.enumeration
    }}
    {{flexberry-validationmessage error=validationErrors.enumeration pointing="pointing"}}
  </div>
  <div class="field {{if validationErrors.file "error" ""}}">
    <label>{{t "forms.integration-examples.edit-form.validation.file-caption"}}</label>
    {{flexberry-file
      value=model.file
      showUploadButton=false
      showDownloadButton=false
    }}
    {{flexberry-validationmessage error=validationErrors.file pointing="pointing"}}
  </div>
  <div class="field {{if validationErrors.master "error" ""}}">
    <label>{{t "forms.integration-examples.edit-form.validation.master-caption"}}</label>
    {{flexberry-lookup
      componentName="IntegrationExamplesValidationsMaster"
      value=model.master
      relatedModel=model
      relationName="master"
      projection="MasterL"
      displayAttributeName="text"
      title=(t "forms.integration-examples.edit-form.validation.master-caption")
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
    }}
    {{flexberry-validationmessage error=validationErrors.master pointing="pointing"}}
  </div>
  <div class="field {{if validationErrors.files "error" ""}}">
    <label>{{t "forms.integration-examples.edit-form.validation.details-caption"}}</label>
    {{flexberry-groupedit
      componentName="IntegrationExamplesEditFormValidationsDetails"
      content=model.details
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.details
      orderable=false
    }}
  </div>
</form>
