<div {{action 'choose' chooseData}} class="fluid">
  <span class="lookup-field">
    {{#if value}}
      {{#if hasBlock}}
        {{yield}}
      {{else}}
        {{value}}
      {{/if}}
    {{else}}
      {{placeholder}}
    {{/if}}
  </span>
  {{#unless readonly}} 
    <i class="chevron right icon"></i>
  {{/unless}}
</div>
