<div class="flexberry-file-grid ui grid">
  <input type="file" name="files[]" id={{fileInputId}} class="flexberry-file-file-input" style="display:none" />
  <div class="row">
    <label
      class="flexberry-file-add-button ui icon {{buttonClass}} {{unless addButtonIsEnabled "disabled"}} {{if (or hasFile readonly) "hidden"}} button"
      title={{t "components.flexberry-file.add-button-title"}}
      for={{fileInputId}}
      {{action "addButtonClick" on="click" preventDefault=false}}>
    {{t "components.flexberry-file.add-button-caption"}}
    </label>
    {{#if hasFile}}
      <div class="flexberry-file-menu">
        {{flexberry-menu
          class="icon vertical"
          items=menuForFileItems
          callItemsOnClickCallbacks=false
          onItemClick=(action "menuForFileItemClick")
        }}
      </div>
      {{#if showPreview}}
        <div class="flexberry-file-image-preview-wrapper ui small image" {{action "viewLoadedImage"}}>
          {{#unless previewDownloadIsInProgress}}
            <img
              class="flexberry-file-image-preview"
              src={{_previewImageAsBase64String}}
              alt={{t "components.flexberry-file.preview-image-alternative-text"}} />
          {{/unless}}
          <div class="ui {{if previewDownloadIsInProgress "active" ""}} loader"></div>
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
<div class="flexberry-file-download-iframes-container" style="display: none;">
  {{!-- Block to which download iframes will be added --}}
</div>
<div class="flexberry-file-error-modal-dialog ui small basic modal">
  <div class="ui icon header">
    {{errorModalDialogCaption}}
  </div>
  <div class="content">
    <div class="flexberry-file-error-modal-dialog-content center aligned ui grid">
      {{errorModalDialogContent}}
    </div>
  </div>
  <div class="center aligned ui grid">
    <div class="actions">
      <div class="flexberry-file-error-modal-dialog-ok-button ui approve green inverted button">
        <i class="checkmark icon"></i>
        {{t "components.flexberry-file.error-dialog-ok-button-caption"}}
      </div>
    </div>
  </div>
</div>
