{{#if dropdown}}
  {{flexberry-dropdown
    placeholder=placeholder
    class="search"
    value=displayValue
    readonly=(if readonly "readonly")
    needChecksOnValue=false
    isSearch=true
    isSearchReadOnly=dropdownIsSearch
  }}
{{else}}
  <div class="ui action input">
    <div
      {{action "choose" chooseData}}
      class="ui transparent {{if (or readonly isBlocked) " disabled"}} {{if (or modalIsBeforeToShow modalIsStartToShow) " loading"}} icon input ">
      <span class="lookup-field">
        {{#if value}}
          {{#if hasBlock}}
            {{yield}}
          {{else}}
            {{displayValue}}
          {{/if}}
        {{else}}
          {{placeholder}}
        {{/if}}
      </span>
      {{#unless readonly}}
        <i class="chevron right icon"></i>
      {{/unless}}
    </div>
    {{#unless readonly}}
      <button
        class="ui ui-clear {{if (or readonly isBlocked) " disabled"}} {{removeButtonClass}} button"
        {{action "remove" removeData}}>
        {{{removeText}}}
      </button>
    {{/unless}}
  </div>
{{/if}}
