{{#if (or (not inHierarchicalMode) hierarchyPaging)}}
  <div class="ui secondary menu no-margin nav-bar">
    <button
      type="button"
      class="ui {{unless colsConfigButton "disabled"}} button mobile-sorting-setting-button"
      title={{_mobileSortingSettingsCaption}}
      disabled={{not colsConfigButton}}
      {{action showConfigDialog}} >
      <i class={{_mobileSortingSettingsIcon}}></i>
      {{_mobileSortingSettingsCaption}}
    </button>
    <div class="right menu">
      <div class="ui basic buttons">
        {{#each _mobilePages as |page|}}
          {{#unless page.isEllipsis}}
            {{#if page.isCurrent}}
              <button type="button" class="ui disabled active button" disabled>{{page.number}}</button>
            {{else}}
              <button type="button" class="ui button" {{action gotoPage page.number}}>{{page.number}}</button>
            {{/if}}
          {{/unless}}
        {{/each}}
      </div>
      {{#if (gt _mobilePages.length 4)}}
        <div class="ui input nav-bar-search-page {{if (and searchPageValue searchPageButtonReadonly) "error" }}">
          {{input
            type="number"
            min=_pages.firstObject.number
            max=_pages.lastObject.number
            placeholder=_mobilePages.lastObject.number
            enter=(action searchPageButtonAction)
            value=searchPageValue
          }}
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}