{{#if isInAcceptanceTestMode}}
  {{outlet}}
  {{outlet "editrecord-modal"}}
  {{outlet "modal"}}
{{else}}
  {{#flexberry-sidebar
    class="inverted vertical main menu visible"
    settings=(hash
      closable=false
      dimPage=false
      onShow=(action "updateWidth")
      onHidden=(action "updateWidth")
    )
  }}

    {{flexberry-sitemap-guideline sitemap=sitemap class="flexberry-sitemap"}}
    <div class="sitebar-footer">
      <a class="item"
        href={{addonVersionHref}}
        target="_blank"
        title={{t "forms.application.sitemap.application-version.title"}}>
        {{t "forms.application.sitemap.application-version.caption" version=addonVersion}}
      </a>
      <a {{action 'showModalSupport'}} class="item" title={{t "forms.support-form.caption"}}>{{t "forms.support-form.caption"}}</a>
    </div>

  {{/flexberry-sidebar}}
  <div class="bgw-fix">
    <div class="background-logo">
      <div class="ui top attached">
        <div class="ui attached menu">
          <div class="ui container flex-container">
            <a {{action 'toggleSidebar'}}
              class="launch icon item"
              title={{t "forms.application.header.menu.sitemap-button.title"}}>
              <i class="sidebar icon text-menu-hide">
                <span class="text_menu hidden">
                  {{t "forms.application.header.menu.show-menu.caption"}}
                </span>
                <span class="text_menu hidden-text">
                  {{t "forms.application.header.menu.hide-menu.caption"}}
                </span>
              </i>
            </a>
          </div>
        </div>
      </div>
      <a class="item logo"
        href="https://github.com/flexberry"
        target="_blank"
        title={{t "forms.application.sitemap.application-name.title"}}>
        <img class="ui centered image" src="assets/images/flexberry-logo.png" />
      </a>
      <a class="page-header-caption" href="https://github.com/flexberry">
        <span class="page-header-caption-app-name">{{t "application-name"}}</span>
        <span class="page-header-caption-logo">{{t "forms.application.sitemap.application-version.caption" version=addonVersion}}</span>
      </a>
      <div class="page-header-actions ui text menu">
        <div class="item" title={{t "forms.application.header.menu.user-settings-service-checkbox.title"}}>
          <label style="margin-right: 5px;">
            {{t "forms.application.header.menu.user-settings-service-checkbox.caption"}}
          </label>
          {{flexberry-checkbox
            class="toggle"
            value=userSettingsService.isUserSettingsServiceEnabled
          }}
        </div>
        <div class="item lang">
          <label style="margin-right: 5px;">
            {{t "forms.application.header.menu.language-dropdown.caption"}}
          </label>
          {{flexberry-dropdown
            class="compact"
            items=locales
            value=i18n.locale
            placeholder=(t "forms.application.header.menu.language-dropdown.placeholder")
          }}
        </div>
        <div class="item">
          {{flexberry-dropdown
            class="compact theme"
            items=themes
            value="purple"
            onChange=(action "changeTheme")
          }}
        </div>
      </div>

      <div class="page-header-userbar">
        <img src="assets/images/user-foto.jpg"/>
        {{flexberry-menu
          items=itemsUserMenu
          onItemClick=(action "onMenuItemClick")
        }}
      </div>
    </div>
  </div>
  <div id="example" class="pusher">
    <div class="ui form {{appState.validation}} {{appState.state}}">
      <div class="bgw-opacity hidden"></div>
      <div class="full height">
        <div class="flexberry-content ui attached segment">
          <div class="ui main container">
            <div class="stackable grid container">
              {{outlet}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui main container">
    {{outlet "editrecord-modal"}}
    {{outlet "modal"}}
  </div>
  {{!-- <div class="ui vertical footer segment">
    <div class="ui container flex-container">
      <div class="ui text menu">
        <a class="brand item" href="#">
          {{t "forms.application.footer.application-name"}}
        </a>
        <div class="right item">
          <label style="margin-right: 5px;">
            {{t "forms.application.header.menu.user-settings-service-checkbox.caption"}}
          </label>
          {{flexberry-checkbox
            class="toggle"
            value=userSettingsService.isUserSettingsServiceEnabled
          }}
        </div>
        <div class="item lang">
          <label style="margin-right: 5px;">
            {{t "forms.application.header.menu.language-dropdown.caption"}}
          </label>
          {{flexberry-dropdown
            class="compact"
            items=locales
            value=i18n.locale
            placeholder=(t "forms.application.header.menu.language-dropdown.placeholder")
            settings=(hash direction="upward")
          }}
        </div>
        <div class="right menu">
          <a class="item"
            href={{addonVersionHref}}
            target="_blank"
            title={{t "forms.application.footer.application-version.title"}}>
              {{t "forms.application.footer.application-version.caption" version=addonVersion}}
          </a>
        </div>
      </div>
    </div>
  </div> --}}
{{/if}}
