{{#ui-sidebar class="inverted vertical menu" dimPage=false}}
  <div class="header item">
    <a class="brand" href="#">{{t "site-map.brand.title"}}</a>
  </div>
  <a href={{addonVersionHref}}
     class="item"
     title={{t "site-map.addon-version.link.title"}}
     target="_blank">
    {{t "site-map.addon-version.title" version=addonVersion}}
  </a>
  {{render "sitemap" sitemap}}
{{/ui-sidebar}}
<div id="example" class="pusher">
  <div class="full height">
    <div class="ui top attached">
      <div class="ui attached menu">
        <div class="ui container">          
          <a {{action 'toggleSidebar'}} title={{t "header.toolbar.menu.title"}} class="launch icon item">
            <i class="sidebar icon"></i>
          </a>          
          <div class="right item">
            {{flexberry-dropdown
              items=locales
              value=currentLocale
              defaultText="Language"
              readonly=readonly
              onChange=(action 'onLocaleChange')
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="flexberry-content ui attached segment">
      <div class="ui main container">
        <div class="stackable grid container">
            {{outlet}}
            {{outlet 'modal'}}
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical footer segment">
    <div class="ui container">
      <div class="ui text menu">
      <a class="brand item" href="#">{{t "footer.brand.title"}}</a>
        <div class="right menu">
          <a href={{addonVersionHref}}
             class="item"
             title={{t "footer.addon-version.link.title"}}
             target="_blank">
            {{t "footer.addon-version.title" version=addonVersion}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
