{{#ui-sidebar class="inverted vertical menu" dimPage=false}}
  <div class="header item">
    <a class="brand"
       href="#"
       title={{t "forms.application.sitemap.application-name.title"}}>
      {{t "forms.application.sitemap.application-name.caption"}}
    </a>
  </div>
  <a class="item"
     href={{addonVersionHref}}
     target="_blank"
     title={{t "forms.application.sitemap.application-version.title"}}
     >
    {{t "forms.application.sitemap.application-version.caption" version=addonVersion}}
  </a>
  {{render "sitemap" sitemap}}
{{/ui-sidebar}}
<div id="example" class="pusher">
  <div class="full height">
    <div class="ui top attached">
      <div class="ui attached menu">
        <div class="ui container">          
          <a {{action 'toggleSidebar'}}
             class="launch icon item"
             title={{t "forms.application.header.menu.sitemap-button.title"}}>
            {{t "forms.application.header.menu.sitemap-button.caption"}}
            <i class="sidebar icon"></i>
          </a>          
          <div class="right item">
            {{flexberry-dropdown
              items=locales
              value=currentLocale
              defaultText=(t "forms.application.header.menu.language-dropdown.default-text")
              readonly=readonly
              onChange=(action 'onLocaleChange')
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="flexberry-content ui attached segment">
      <div class="ui main container">
        <div class="stackable grid container">
            {{outlet}}
            {{outlet 'modal'}}
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical footer segment">
    <div class="ui container">
      <div class="ui text menu">
      <a class="brand item" href="#">
        {{t "forms.application.footer.application-name"}}
      </a>
        <div class="right menu">
          <a class="item"
             href={{addonVersionHref}}
             target="_blank"
             title={{t "forms.application.footer.application-version.title"}}
             >
            {{t "forms.application.footer.application-version.caption" version=addonVersion}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
