<h3 class="ui header">{{t "forms.ember-flexberry-dummy-application-user-edit.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{ui-message
    type="success"
    closeable=true
    visible=showFormSuccessMessage
    caption=formSuccessMessageCaption
    message=formSuccessMessage
    onShow=(action "onSuccessMessageShow")
    onHide=(action "onSuccessMessageHide")
  }}
  {{ui-message
    type="error"
    closeable=true
    visible=showFormErrorMessage
    caption=formErrorMessageCaption
    message=formErrorMessage
    onShow=(action "onErrorMessageShow")
    onHide=(action "onErrorMessageHide")
  }}
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-button" {{action "save"}}>{{t "forms.edit-form.save-button-text"}}</button>
        {{/unless}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-close-button" {{action "saveAndClose"}}>{{t "forms.edit-form.saveAndClose-button-text"}}</button>
        {{/unless}}
        {{#unless (and model.isNew (or (not hasParentRoute) (and hasParentRoute saveBeforeRouteLeave)))}}
          <button type="submit" class="ui button save-del-button" {{action "delete"}}>{{t "forms.edit-form.delete-button-text"}}</button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action "close"}}>{{t "forms.edit-form.close-button-text"}}--></button>
    </div>
  </div>
  <div class="field {{if model.errors.name "error" ""}}">
    {{flexberry-field
      value=model.name
      label=(t "forms.ember-flexberry-dummy-application-user-edit.name-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.eMail "error" ""}}">
    {{flexberry-field
      value=model.eMail
      label=(t "forms.ember-flexberry-dummy-application-user-edit.eMail-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.eMail pointing="pointing"}}
  </div>
  <div class="field">
    <label>{{t "forms.ember-flexberry-dummy-application-user-edit.phone1-required-caption"}}</label>
    {{flexberry-checkbox
      value=model.phone1IsRequired
      readonly=readonly
    }}
  </div>
  <div class="field {{if model.errors.phone1 "error" ""}}">
    {{flexberry-field
      value=model.phone1
      label=(t "forms.ember-flexberry-dummy-application-user-edit.phone1-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.phone1 pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.phone2 "error" ""}}">
    {{flexberry-field
      value=model.phone2
      label=(t "forms.ember-flexberry-dummy-application-user-edit.phone2-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.phone2 pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.phone3 "error" ""}}">
    {{flexberry-field
      value=model.phone3
      label=(t "forms.ember-flexberry-dummy-application-user-edit.phone3-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.phone3 pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.activated "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-application-user-edit.activated-caption"}}</label>
    {{flexberry-checkbox
      value=model.activated
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.activated pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.vK "error" ""}}">
    {{flexberry-field
      value=model.vK
      label=(t "forms.ember-flexberry-dummy-application-user-edit.vK-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.vK pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.facebook "error" ""}}">
    {{flexberry-field
      value=model.facebook
      label=(t "forms.ember-flexberry-dummy-application-user-edit.facebook-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.facebook pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.twitter "error" ""}}">
    {{flexberry-field
      value=model.twitter
      label=(t "forms.ember-flexberry-dummy-application-user-edit.twitter-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.twitter pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.birthday "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-application-user-edit.birthday-caption"}}</label>
    {{flexberry-datepicker
      value=model.birthday
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.birthday pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.gender "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-application-user-edit.gender-caption"}}</label>
    {{flexberry-dropdown
      value=model.gender
      items=(flexberry-enum "ember-flexberry-dummy-gender")
      readonly=readonly
      direction="upward"
    }}
    {{flexberry-validationmessage error=model.errors.gender pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.vip "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-application-user-edit.vip-caption"}}</label>
    {{flexberry-checkbox
      value=model.vip
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.vip pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.karma "error" ""}}">
    {{flexberry-field
      value=model.karma
      label=(t "forms.ember-flexberry-dummy-application-user-edit.karma-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.karma pointing="pointing"}}
  </div>
</form>
