<h3 class="ui header">{{t "forms.ember-flexberry-dummy-application-user-edit.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-button" {{action "save"}}>{{t "forms.edit-form.save-button-text"}}</button>
        {{/unless}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-close-button" {{action "saveAndClose"}}>{{t "forms.edit-form.saveAndClose-button-text"}}</button>
        {{/unless}}
        {{#unless (and model.isNew (or (not hasParentRoute) (and hasParentRoute saveBeforeRouteLeave)))}}
          <button type="submit" class="ui button save-del-button" {{action "delete"}}>{{t "forms.edit-form.delete-button-text"}}</button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action "close"}}>{{t "forms.edit-form.close-button-text"}}--></button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="ui two column grid stackable">
    <div class="column">
      <h4>Профиль</h4>
      <div class="field {{if (v-get validationObject "name" "isInvalid") "error"}}">
        {{flexberry-field
          value=model.name
          label=(t "forms.ember-flexberry-dummy-application-user-edit.name-caption")
          readonly=readonly
        }}
        {{flexberry-validationmessage error=(v-get validationObject "name" "messages")}}
      </div>
      <div class="two fields">
        <div class="field {{if (v-get validationObject "birthday" "isInvalid") "error"}}">
          <label>{{t "forms.ember-flexberry-dummy-application-user-edit.birthday-caption"}}</label>
          {{flexberry-simpledatetime
            type="date"
            value=model.birthday
            readonly=readonly
          }}
          {{flexberry-validationmessage error=(v-get validationObject "birthday" "messages")}}
        </div>
        <div class="field {{if (v-get validationObject "gender" "isInvalid") "error"}}">
          <label>{{t "forms.ember-flexberry-dummy-application-user-edit.gender-caption"}}</label>
          {{flexberry-dropdown
            items=(flexberry-enum "ember-flexberry-dummy-gender")
            value=model.gender
            readonly=readonly
          }}
          {{flexberry-validationmessage error=(v-get validationObject "gender" "messages")}}
        </div>
      </div>
      <div class="field {{if (v-get validationObject "karma" "isInvalid") "error"}}">
        {{flexberry-field
          value=model.karma
          label=(t "forms.ember-flexberry-dummy-application-user-edit.karma-caption")
          readonly=readonly
        }}
        {{flexberry-validationmessage error=(v-get validationObject "karma" "messages")}}
      </div>
      <div class="two fields">
        <div class="field {{if (v-get validationObject "activated" "isInvalid") "error"}}">
          <label>{{t "forms.ember-flexberry-dummy-application-user-edit.activated-caption"}}</label>
          {{flexberry-checkbox
            value=model.activated
            readonly=readonly
          }}
          {{flexberry-validationmessage error=(v-get validationObject "activated" "messages")}}
        </div>
        <div class="field {{if (v-get validationObject "vip" "isInvalid") "error"}}">
          <label>{{t "forms.ember-flexberry-dummy-application-user-edit.vip-caption"}}</label>
          {{flexberry-checkbox
            value=model.vip
            readonly=readonly
          }}
          {{flexberry-validationmessage error=(v-get validationObject "vip" "messages")}}
        </div>
      </div>
    </div>

    <div class="column">
      <h4>Контактная информация</h4>
      <div class="field {{if (v-get validationObject "phone1" "isInvalid") "error"}}">
        {{flexberry-field
          value=model.phone1
          label=(t "forms.ember-flexberry-dummy-application-user-edit.phone1-caption")
          readonly=readonly
        }}
        {{flexberry-validationmessage error=(v-get validationObject "phone1" "messages")}}
      </div>
      <div class="two fields">
        <div class="field {{if (v-get validationObject "phone2" "isInvalid") "error"}}">
          {{flexberry-field

            value=model.phone2
            label=(t "forms.ember-flexberry-dummy-application-user-edit.phone2-caption")
            readonly=readonly
          }}
          {{flexberry-validationmessage error=(v-get validationObject "phone2" "messages")}}
        </div>
        <div class="field {{if (v-get validationObject "phone3" "isInvalid") "error"}}">
          {{flexberry-field

            value=model.phone3
            label=(t "forms.ember-flexberry-dummy-application-user-edit.phone3-caption")
            readonly=readonly
          }}
          {{flexberry-validationmessage error=(v-get validationObject "phone3" "messages")}}
        </div>
      </div>
      <div class="field {{if (v-get validationObject "eMail" "isInvalid") "error"}}">
        {{flexberry-field
          value=model.eMail
          label=(t "forms.ember-flexberry-dummy-application-user-edit.eMail-caption")
          readonly=readonly
        }}
        {{flexberry-validationmessage error=(v-get validationObject "eMail" "messages")}}
      </div>
      <div class="field {{if (v-get validationObject "vK" "isInvalid") "error"}}">
        {{flexberry-field
          value=model.vK
          label=(t "forms.ember-flexberry-dummy-application-user-edit.vK-caption")
          readonly=readonly
        }}
        {{flexberry-validationmessage error=(v-get validationObject "vK" "messages")}}
      </div>
      <div class="two fields">
        <div class="field {{if (v-get validationObject "facebook" "isInvalid") "error"}}">
          {{flexberry-field

            value=model.facebook
            label=(t "forms.ember-flexberry-dummy-application-user-edit.facebook-caption")
            readonly=readonly
          }}
          {{flexberry-validationmessage error=(v-get validationObject "facebook" "messages")}}
        </div>
        <div class="field {{if (v-get validationObject "twitter" "isInvalid") "error"}}">
          {{flexberry-field

            value=model.twitter
            label=(t "forms.ember-flexberry-dummy-application-user-edit.twitter-caption")
            readonly=readonly
          }}
          {{flexberry-validationmessage error=(v-get validationObject "twitter" "messages")}}
        </div>
      </div>
    </div>

  </div>
</form>
