<h3 class="ui header">{{t "forms.ember-flexberry-dummy-comment-vote-edit.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.ember-flexberry-dummy-comment-vote-edit.voteType-caption"}}</label>
    {{
      flexberry-dropdown
      items=(flexberry-enum "ember-flexberry-dummy-vote-type")
      value=model.voteType
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "voteType" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.ember-flexberry-dummy-comment-vote-edit.applicationUser-caption"}}</label>
    {{
      flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.applicationUser
      displayAttributeName="name"
      relationName="applicationUser"
      projection="ApplicationUserL"
      title=(t "forms.ember-flexberry-dummy-comment-vote-edit.applicationUser-caption")
      readonly=readonly
      updateLookupValue=(action "updateLookupValue")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "applicationUser" "messages")}}
  </div>

</form>