<h3 class="ui header">{{t "forms.ember-flexberry-dummy-localization-edit.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    {{flexberry-edit-panel
      showCloseButton=true
      deepMount=true
      buttons=(array
        (hash
          type="submit"
          class="save-button"
          disabled=(and hasParentRoute (not saveBeforeRouteLeave))
          text=(t "forms.edit-form.save-button-text")
          action="save")
        (hash
          type="submit"
          class="save-close-button"
          disabled=(and hasParentRoute (not saveBeforeRouteLeave))
          text=(t "forms.edit-form.saveAndClose-button-text")
          action="saveAndClose"
        )
        (hash
          type="submit"
          class="save-del-button"
          disabled=(and model.isNew (or (not hasParentRoute) (and hasParentRoute saveBeforeRouteLeave)))
          text=(t "forms.edit-form.delete-button-text")
          action="delete"
        ))
    }}
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationModel "messages")}}
    </div>
  </div>
  <div class="ui one column grid stackable">
    <div class="column">
      <div class="field">
        {{flexberry-field
          value=model.name
          class=(if (v-get validationModel "name" "isInvalid") "error")
          label=(t "forms.ember-flexberry-dummy-localization-edit.name-caption")
          readonly=readonly
        }}
        {{flexberry-validationmessage error=(v-get validationModel "name" "message")}}
      </div>
    </div>
  </div>
</form>