<h3 class="ui header">{{t "forms.ember-flexberry-dummy-comment-vote-edit.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    {{flexberry-edit-panel
      showCloseButton=true
      deepMount=true
      buttons=(array
        (hash
          type="submit"
          class="save-button"
          disabled=(and hasParentRoute (not saveBeforeRouteLeave))
          text=(t "forms.edit-form.save-button-text")
          action="save")
        (hash
          type="submit"
          class="save-del-button"
          disabled=(and model.isNew (or (not hasParentRoute) (and hasParentRoute saveBeforeRouteLeave)))
          text=(t "forms.edit-form.delete-button-text")
          action="delete"
        ))
    }}
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.ember-flexberry-dummy-comment-vote-edit.voteType-caption"}}</label>
    {{
      flexberry-dropdown
      items=(flexberry-enum "ember-flexberry-dummy-vote-type")
      value=model.voteType
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "voteType" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.ember-flexberry-dummy-comment-vote-edit.applicationUser-caption"}}</label>
    {{
      flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.applicationUser
      displayAttributeName="name"
      relationName="applicationUser"
      projection="ApplicationUserL"
      title=(t "forms.ember-flexberry-dummy-comment-vote-edit.applicationUser-caption")
      readonly=readonly
      updateLookupValue=(action "updateLookupValue")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "applicationUser" "messages")}}
  </div>

</form>