<h3 class="ui header">{{t "forms.ember-flexberry-dummy-comment-edit.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{ui-message
    type="success"
    closeable=true
    visible=showFormSuccessMessage
    caption=formSuccessMessageCaption
    message=formSuccessMessage
    onShow=(action "onSuccessMessageShow")
    onHide=(action "onSuccessMessageHide")
  }}
  {{ui-message
    type="error"
    closeable=true
    visible=showFormErrorMessage
    caption=formErrorMessageCaption
    message=formErrorMessage
    onShow=(action "onErrorMessageShow")
    onHide=(action "onErrorMessageHide")
  }}
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-button" {{action "save"}}>{{t "forms.edit-form.save-button-text"}}</button>
        {{/unless}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-close-button" {{action "saveAndClose"}}>{{t "forms.edit-form.saveAndClose-button-text"}}</button>
        {{/unless}}
        {{#unless (and model.isNew (or (not hasParentRoute) (and hasParentRoute saveBeforeRouteLeave)))}}
          <button type="submit" class="ui button save-del-button" {{action "delete"}}>{{t "forms.edit-form.delete-button-text"}}</button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>{{t "forms.edit-form.close-button-text"}}</button>
    </div>
  </div>
  <div class="field {{if model.errors.text "error" ""}}">
    {{flexberry-field
      value=model.text
      label=(t "forms.ember-flexberry-dummy-comment-edit.text-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.text pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.votes "error" ""}}">
    {{flexberry-field
      value=model.votes
      label=(t "forms.ember-flexberry-dummy-comment-edit.votes-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.votes pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.moderated "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-comment-edit.moderated-caption"}}</label>
    {{flexberry-checkbox
      value=model.moderated
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.moderated pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.author "error" ""}}">
    <label>{{t "forms.ember-flexberry-dummy-comment-edit.author-caption"}}</label>
    {{flexberry-lookup
      value=model.author
      relatedModel=model
      relationName="author"
      projection="ApplicationUserL"
      displayAttributeName="name"
      title=(t "forms.ember-flexberry-dummy-comment-edit.author-caption")
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.author pointing="pointing"}}
  </div>
  <div class="field">
    <label>{{t "forms.ember-flexberry-dummy-comment-edit.userVotes-caption"}}</label>
    {{flexberry-groupedit
      componentName="commentUserVotesGroupEdit"
      content=model.userVotes
      modelProjection=modelProjection.attributes.userVotes
      mainModelProjection=modelProjection
      rowClickable=true
      rowClick="rowClick"
      editOnSeparateRoute=true
      editFormRoute=commentsVoteEditRoute
      saveBeforeRouteLeave=true
      orderable=false
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.userVotes pointing="pointing"}}
  </div>
</form>
