<h3 class="ui header">{{t "forms.ember-flexberry-dummy-suggestion-edit.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    {{edit-panel
      showCloseButton=true
      deepMount=true
      buttons=(array
        (hash
          type="submit"
          class="save-button"
          disabled=(and hasParentRoute (not saveBeforeRouteLeave))
          text=(t "forms.edit-form.save-button-text")
          action="save")
        (hash
          type="submit"
          class="save-close-button"
          disabled=(and hasParentRoute (not saveBeforeRouteLeave))
          text=(t "forms.edit-form.saveAndClose-button-text")
          action="saveAndClose"
        )
        (hash
          type="submit"
          class="save-del-button"
          disabled=(and model.isNew (or (not hasParentRoute) (and hasParentRoute saveBeforeRouteLeave)))
          text=(t "forms.edit-form.delete-button-text")
          action="delete"
        ))
    }}
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="ui one column grid stackable">
    <div class="column">
      <div class="field">
        {{flexberry-field
          value=model.address
          class=(if (v-get validationObject "address" "isInvalid") "error")
          label=(t "forms.ember-flexberry-dummy-suggestion-edit.address-caption")
          readonly=readonly
        }}
        {{flexberry-validationmessage error=(v-get validationObject "address" "message")}}
      </div>
      <div class="field">
        {{flexberry-field
          value=model.text
          class=(if (v-get validationObject "text" "isInvalid") "error")
          label=(t "forms.ember-flexberry-dummy-suggestion-edit.text-caption")
          readonly=readonly
        }}
        {{flexberry-validationmessage error=(v-get validationObject "text" "message")}}
      </div>
      <div class="two fields">
        <div class="field">
          <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.type-caption"}}</label>
          {{flexberry-lookup
            value=model.type
            class=(if (v-get validationObject "type" "isInvalid") "error")
            relatedModel=model
            relationName="type"
            projection="SuggestionTypeL"
            displayAttributeName="name"
            title=(t "forms.ember-flexberry-dummy-suggestion-edit.type-caption")
            choose=(action "showLookupDialog")
            remove=(action "removeLookupValue")
            dropdown=true
            readonly=readonly
            direction="upward"
            componentName="SuggestionEditType"
          }}
          {{flexberry-validationmessage error=(v-get validationObject "type" "message")}}
        </div>
        <div class="field">
          <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.date-caption"}}</label>
          {{flexberry-simpledatetime
            type="date"
            value=model.date
            class=(if (v-get validationObject "date" "isInvalid") "error")
            readonly=readonly
          }}
          {{flexberry-validationmessage error=(v-get validationObject "date" "message")}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          {{flexberry-field
            value=model.votes
            class=(if (v-get validationObject "votes" "isInvalid") "error")
            label=(t "forms.ember-flexberry-dummy-suggestion-edit.votes-caption")
            readonly=readonly
          }}
          {{flexberry-validationmessage error=(v-get validationObject "votes" "message")}}
        </div>
        <div class="field">
          <label>&nbsp;</label>
          {{flexberry-checkbox
            value=model.moderated
            class=(if (v-get validationObject "moderated" "isInvalid") "error")
            readonly=readonly
            label=(t "forms.ember-flexberry-dummy-suggestion-edit.moderated-caption")
          }}
          {{flexberry-validationmessage error=(v-get validationObject "moderated" "message")}}
        </div>
      </div>
      <div class="field">
        <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.author-caption"}}</label>
        {{flexberry-lookup
          value=model.author
          class=(if (v-get validationObject "author" "isInvalid") "error")
          relatedModel=model
          relationName="author"
          projection="ApplicationUserL"
          displayAttributeName="name"
          showPreviewButton=true
          previewOnSeparateRoute=true
          previewFormRoute="ember-flexberry-dummy-application-user-edit"
          title=(t "forms.ember-flexberry-dummy-suggestion-edit.author-caption")
          choose=(action "showLookupDialog")
          remove=(action "removeLookupValue")
          preview=(action "previewLookupValue")
          lookupWindowCustomProperties=(action 'getLookupFolvProperties')
          readonly=readonly
          componentName="SuggestionEditAuthor"
        }}
        {{flexberry-validationmessage error=(v-get validationObject "author" "message")}}
      </div>
      <div class="field">
        <label>{{t "forms.ember-flexberry-dummy-suggestion-edit.editor1-caption"}}</label>
        {{flexberry-lookup
          value=model.editor1
          class=(if (v-get validationObject "editor1" "isInvalid") "error")
          relatedModel=model
          relationName="editor1"
          projection="ApplicationUserL"
          displayAttributeName="name"
          showPreviewButton=true
          previewFormRoute="ember-flexberry-dummy-application-user-edit"
          title=(t "forms.ember-flexberry-dummy-suggestion-edit.editor1-caption")
          choose=(action "showLookupDialog")
          remove=(action "removeLookupValue")
          preview=(action "previewLookupValue")
          readonly=readonly
          componentName="SuggestionEditEditor1"
          lookupWindowCustomProperties=(action 'getLookupFolvProperties')
        }}
        {{flexberry-validationmessage error=(v-get validationObject "editor1" "message")}}
      </div>
    </div>
  </div>
  {{#flexberry-toggler
    caption=(t "forms.ember-flexberry-dummy-suggestion-edit.files-caption")
    expanded=true}}
    <div class="field">
      {{flexberry-groupedit
        componentName="filesGroupEdit"
        content=model.files
        mainModelProjection=modelProjection
        modelProjection=modelProjection.attributes.files
        orderable=true
        readonly=readonly
      }}
    </div>
  {{/flexberry-toggler}}
  {{#flexberry-toggler
    caption=(t "forms.ember-flexberry-dummy-suggestion-edit.userVotes-caption")
    expanded=true}}
    <div class="field">
      {{flexberry-groupedit
        componentName="suggestionUserVotesGroupEdit"
        content=model.userVotes
        mainModelProjection=modelProjection
        modelProjection=modelProjection.attributes.userVotes
        orderable=true
        readonly=readonly
        sorting=sorting
      }}
    </div>
  {{/flexberry-toggler}}
  {{#flexberry-toggler
    caption=(t "forms.ember-flexberry-dummy-suggestion-edit.comments-caption")
    expanded=true}}
    <div class="field">
      {{flexberry-groupedit
        componentName="suggestionCommentsGroupEdit"
        content=model.comments
        mainModelProjection=modelProjection
        modelProjection=modelProjection.attributes.comments
        rowClickable=true
        rowClick="rowClick"
        editOnSeparateRoute=true
        editFormRoute=commentsEditRoute
        saveBeforeRouteLeave=true
        orderable=true
        readonly=readonly
      }}
    </div>
  {{/flexberry-toggler}}
</form>
