<h3 class="ui header">{{t "forms.ember-flexberry-dummy-suggestion-type-edit.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-button" {{action "save"}}>{{t "forms.edit-form.save-button-text"}}</button>
        {{/unless}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-close-button" {{action "saveAndClose"}}>{{t "forms.edit-form.saveAndClose-button-text"}}</button>
        {{/unless}}
        {{#unless (and model.isNew (or (not hasParentRoute) (and hasParentRoute saveBeforeRouteLeave)))}}
          <button type="submit" class="ui button save-del-button" {{action "delete"}}>{{t "forms.edit-form.delete-button-text"}}</button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action "close"}}>{{t "forms.edit-form.close-button-text"}}</button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="ui one column grid stackable">
    <div class="column">
      <div class="field">
        {{flexberry-field
          value=model.name
          class=(if (v-get validationObject "name" "isInvalid") "error")
          label=(t "forms.ember-flexberry-dummy-suggestion-type-edit.name-caption")
          readonly=readonly
        }}
        {{flexberry-validationmessage error=(v-get validationObject "name" "message")}}
      </div>
      <div class="two fields">
        <div class="field">
          <label>{{t "forms.ember-flexberry-dummy-suggestion-type-edit.parent-caption"}}</label>
          {{flexberry-lookup
            value=model.parent
            class=(if (v-get validationObject "parent" "isInvalid") "error")
            relatedModel=model
            relationName="parent"
            projection="SuggestionTypeL"
            displayAttributeName="name"
            title=(t "forms.ember-flexberry-dummy-suggestion-type-edit.parent-caption")
            choose=(action "showLookupDialog")
            remove=(action "removeLookupValue")
            readonly=readonly
          }}
          {{flexberry-validationmessage error=(v-get validationObject "parent" "message")}}
        </div>

        <div class="field">
          <label>{{t "forms.ember-flexberry-dummy-suggestion-type-edit.moderated-caption"}}</label>
          {{flexberry-checkbox
            value=model.moderated
            class=(if (v-get validationObject "moderated" "isInvalid") "error")
            readonly=readonly
          }}
          {{flexberry-validationmessage error=(v-get validationObject "moderated" "message")}}
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label>{{t "forms.ember-flexberry-dummy-suggestion-type-edit.localized-types-caption"}}</label>
    {{flexberry-groupedit
      componentName="suggestionTypeLocalizedTypesGroupEdit"
      mainModelProjection=modelProjection
      content=model.localizedTypes
      modelProjection=modelProjection.attributes.localizedTypes
      orderable=false
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "localizedTypes" "messages")}}
  </div>
</form>
