<h3 class="ui header">{{t "forms.ember-flexberry-dummy-comment-edit.caption"}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-button" {{action "save"}}>{{t "forms.edit-form.save-button-text"}}</button>
        {{/unless}}
        {{#unless (and hasParentRoute (not saveBeforeRouteLeave))}}
          <button type="submit" class="ui button save-close-button" {{action "saveAndClose"}}>{{t "forms.edit-form.saveAndClose-button-text"}}</button>
        {{/unless}}
        {{#unless (and model.isNew (or (not hasParentRoute) (and hasParentRoute saveBeforeRouteLeave)))}}
          <button type="submit" class="ui button save-del-button" {{action "delete"}}>{{t "forms.edit-form.delete-button-text"}}</button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>{{t "forms.edit-form.close-button-text"}}</button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      value=model.text
      class=(if (v-get validationObject "text" "isInvalid") "error")
      label=(t "forms.ember-flexberry-dummy-comment-edit.text-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "text" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      value=model.votes
      class=(if (v-get validationObject "votes" "isInvalid") "error")
      label=(t "forms.ember-flexberry-dummy-comment-edit.votes-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "votes" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.ember-flexberry-dummy-comment-edit.moderated-caption"}}</label>
    {{flexberry-checkbox
      value=model.moderated
      class=(if (v-get validationObject "moderated" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "moderated" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.ember-flexberry-dummy-comment-edit.author-caption"}}</label>
    {{flexberry-lookup
      value=model.author
      class=(if (v-get validationObject "author" "isInvalid") "error")
      relatedModel=model
      relationName="author"
      projection="ApplicationUserL"
      displayAttributeName="name"
      title=(t "forms.ember-flexberry-dummy-comment-edit.author-caption")
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "author" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.ember-flexberry-dummy-comment-edit.userVotes-caption"}}</label>
    {{flexberry-groupedit
      componentName="commentUserVotesGroupEdit"
      content=model.userVotes
      modelProjection=modelProjection.attributes.userVotes
      mainModelProjection=modelProjection
      rowClickable=true
      rowClick="rowClick"
      editOnSeparateRoute=true
      editFormRoute=commentsVoteEditRoute
      saveBeforeRouteLeave=true
      orderable=false
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationObject "userVotes" "messages")}}
  </div>
</form>
