<h3 class="ui header">{{t "forms.ember-flexberry-dummy-master-edit.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationObject "name" "isInvalid") "error")
      label=(t "forms.ember-flexberry-dummy-master-edit.name-caption")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "name" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.ember-flexberry-dummy-master-edit.detail-caption"}}</label>
    {{flexberry-groupedit
      componentName="detailGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.detail
      content=model.detail
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "detail" "isInvalid") "error")
    }}
    {{flexberry-validationmessage error=(v-get validationObject "detail" "messages")}}
  </div>
</form>