<h3 class="ui header">{{title}} - edit form</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
  {{ui-message
    type='error'
    closeable=true
    visible=true
    title='Error occurred'
    message=currentError
  }}
  {{/each}}
{{/if}}
<form class="ui form flexberry-vertical-form" role="form">
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui positive button" {{action 'save'}}>
          {{t "edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui negative button" {{action 'delete'}}>
            {{t "edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button" {{action 'close'}}>
        {{t "edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      {{#if model.errors.firstName}}
          <span style="color:red">{{model.errors.firstName}}</span>
      {{/if}}
      {{flexberry-field
        placeholder='First Name'
        readonly=readonly
        required=true
        value=model.firstName
        class=(if model.errors.firstName 'error' '')
      }}
      {{#if model.errors.lastName}}
          <span style="color:red">{{model.errors.lastName}}</span>
      {{/if}}
      {{flexberry-field
        placeholder='Last Name'
        readonly=readonly
        required=true
        value=model.lastName
        class=(if model.errors.lastName 'error' '')
      }}
    </div>
  </div>
  <div class="field">
    <label>BirthDate</label>
    {{#if model.errors.birthDate}}
      <span style="color:red">{{model.errors.birthDate}}</span>
    {{/if}}
    {{flexberry-datepicker
      placeholder='(no value)'
      readonly=readonly
      value=model.birthDate
      class=(if model.errors.birthDate 'error' '')
    }}
  </div>
  <div class="field">
    <label>Reports to</label>
    {{#if model.errors.reportsTo}}
      <span style="color:red">{{model.errors.reportsTo}}</span>
    {{/if}}
    {{#flexberry-lookup
      choose='showLookupDialog'
      remove='removeLookupValue'
      value=model.employee1.firstName
      relationName='employee1'
      projection='EmployeeL'
      title='Employees'
      readonly=readonly
      limitFunction=lookupLimitFunction
      class=(if model.errors.reportsTo 'error' '')
      chooseButtonClass='primary'
      removeButtonClass='primary'
    }}
      {{model.employee1.firstName}}<br>
      {{model.employee1.lastName}}
    {{/flexberry-lookup}}
  </div>
  <div class="field">
    <label>Orders</label>
    {{#if model.errors.orders}}
      <span style="color:red">{{model.errors.orders}}</span>
    {{/if}}
    {{flexberry-groupedit
      componentName='ordersGroupEdit'
      buttonClass='primary'
      modelProjection=modelProjection.attributes.orders
      content=model.orders
      readonly=readonly
      orderable=false
      class=(concat 'attached ' (if model.errors.orders 'error' ''))
      rowClickable=true
      rowClick='rowClick'
      editOnSeparateRoute=true
      editFormRoute=routeForEditOrder
      showEditMenuItemInRow=true
      showDeleteMenuItemInRow=true
      showDeleteButtonInRow=true
      singleColumnHeaderTitle='Mobile title for component'
    }}
  </div>
</form>
