<h3>{{title}} - edit form</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
	{{ui-message
	  type = 'error'
	  closeable = true
	  visible = true
	  title = "Error occurred"
	  message = currentError
	}}
  {{/each}}
{{/if}}
<form class="ui form" role="form">
  <div class="field">
    <div>
      <button type="submit" class="ui primary button" {{action 'save'}}>Save</button>
      <button type="submit" class="ui primary button" {{action 'close'}}>Close</button>
    </div>
  </div>
  <div class="ui grid {{if model.errors.shipName 'error' ''}}">
	<div class="ui two wide column right aligned middle aligned content">
		<label>ShipName</label>
	</div>
	<div class="ten wide column">
		<span style="color:red">{{model.errors.shipName}}</span>
		{{input type="text" placeholder="(no value)" required=true value=model.shipName}}
	</div>
  </div>
  <div class="ui grid {{if model.errors.shipCountry 'error' ''}}">
	<div class="ui two wide column right aligned middle aligned content">
		<label>ShipCountry</label>
	</div>
	<div class="ten wide column">
		<span style="color:red">{{model.errors.shipCountry}}</span>
		{{input type="text" placeholder="(no value)" required=true value=model.shipCountry}}
	</div>
  </div>
  <div class="ui grid {{if model.errors.orderDate 'error' ''}}">
	<div class="ui two wide column right aligned middle aligned content">
		<label>OrderDate</label>
	</div>
	<div class="ten wide column">
		<span style="color:red">{{model.errors.orderDate}}</span>
		{{datetime-picker placeholder="(no value)" hasTimePicker=true value=model.orderDate}}
	</div>
  </div>
  <div class="ui grid {{if model.errors.employee.firstName 'error' ''}}">
	<div class="ui two wide column right aligned middle aligned content">
		<label>Employee FirstName</label>
	</div>
	<div class="ten wide column">
		<span style="color:red">{{model.errors.employee.firstName}}</span>
		{{input type="text" placeholder="(no value)" required=true value=model.employee.firstName}}
	</div>
  </div>
  <div class="ui grid {{if model.errors.employee.lastName 'error' ''}}">
	<div class="ui two wide column right aligned middle aligned content">
		<label>Employee LastName</label>
	</div>
	<div class="ten wide column">
		<span style="color:red">{{model.errors.employee.lastName}}</span>
		{{input type="text" placeholder="(no value)" required=true value=model.employee.lastName}}
	</div>
  </div>
</form>
