<h3>{{title}} - edit form</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
    type='error'
    closeable=true
    visible=true
    title='Error occurred'
    message=currentError
    }}
  {{/each}}
{{/if}}
<form class="ui form flexberry-horizontal-form" role="form">
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui positive button" {{action 'save'}}>Save</button>
        {{#unless (and (not modelCurrentAgregatorPath) model.isNew)}}
          <button type="submit" class="ui negative button" {{action 'delete'}}>Delete</button>
        {{/unless}}
      {{/unless}}
	  {{#unless modelCurrentAgregatorPath}}
        <button type="submit" class="ui button" {{action 'close'}}>Close</button>
	  {{/unless}}
    </div>
  </div>
  <div class="inline fields">
    {{flexberry-field
      placeholder='(no value)'
      readonly=readonly
      required=true
      value=model.shipName
      label='ShipName'
      class=(concat 'sixteen wide ' (if model.errors.shipName 'error' ''))
    }}
    {{flexberry-validationmessage error=model.errors.shipName pointing='left pointing'}}
  </div>
  <div class="inline fields">
    {{flexberry-field
      placeholder='(no value)'
      readonly=readonly
      required=true
      value=model.shipCountry
      label='ShipCountry'
      class=(concat 'sixteen wide ' (if model.errors.shipCountry 'error' ''))
    }}
    {{flexberry-validationmessage error=model.errors.shipCountry pointing='left pointing'}}
  </div>
  <div class="inline fields">
    <div class="field no-padding">
      <label>OrderDate</label>
    </div>
    <div class="field">
      {{flexberry-datepicker
        placeholder='(no value)'
        readonly=readonly
        hasTimePicker=true
        value=model.orderDate
        class=(if model.errors.orderDate 'error' '')
      }}
      {{flexberry-validationmessage error=model.errors.orderDate pointing='left pointing'}}
    </div>
  </div>
  <div class="inline fields">
    {{#if model.errors.firstName}}
      <span style="color:red">{{model.errors.firstName}}</span>
    {{/if}}
    {{flexberry-field
      placeholder='(no value)'
      readonly=readonly
      required=true
      value=model.employee.firstName
      label='Employee FirstName'
      class=(concat 'sixteen wide ' (if model.errors.firstName 'error' ''))
    }}
  </div>
  <div class="inline fields">
    {{flexberry-field
      placeholder='(no value)'
      readonly=readonly
      required=true
      value=model.employee.lastName
      label='Employee LastName'
      class=(concat 'sixteen wide ' (if model.errors.lastName 'error' ''))
    }}
  </div>
  <div class="inline fields">
    <div class="field no-padding">
      <label>Customer</label>
    </div>
    <div class="field sixteen wide">
      {{flexberry-lookup
        choose='showLookupDialog'
        remove='removeLookupValue'
        value=model.customer.contactName
        relationName='customer'
        projection='CustomerL'
        title='Customer'
        readonly=readonly
        limitFunction=lookupLimitFunction
        class=(concat 'sixteen wide ' (if model.errors.customer 'error' ''))
      }}
      {{flexberry-validationmessage error=model.errors.customer}}
    </div>
  </div>
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
</form>
