<h3>Orders - list form</h3>

<div class="row">
  <div class="col-md-9">
    {{olv-toolbar
      class = "ui secondary menu"
      modelName = "order"
      createNewButton = true
      refreshButton = true
      modelController = this
    }}
    {{object-list-view
      class = "ui bottom attached"
      modelProjection = modelProjection
      content = model
    }}
    <div id="bottom-menu" class="ui secondary menu">
        <div class="ui basic buttons">
            <button class="ui {{unless hasPreviousPage 'disabled'}} button" {{action "previousPage"}}>&laquo;</button>
          {{#each pages as |page|}}
            {{#if page.isEllipsis}}
                <button class="ui button">...</button>
            {{else}}
              {{#if page.isCurrent}}
                  <button class="ui active button">{{page.number}}</button>
              {{else}}
                  <button class="ui button" {{action 'gotoPage' page.number}}>{{page.number}}</button>
              {{/if}}
            {{/if}}
          {{/each}}
            <button class="ui {{unless hasNextPage 'disabled'}} button" {{action "nextPage"}}>&raquo;</button>
        </div>
        <div class="right menu">
          {{#ui-dropdown value=perPageValue class="compact selection"}}
              <i class="dropdown icon"></i>
              <div class="text">{{perPageValue}}</div>
              <div class="menu">
                {{#each perPageValues as |perPageValue|}}
                    <div class="item" data-value={{perPageValue}}>{{perPageValue}}</div>
                {{/each}}
              </div>
          {{/ui-dropdown}}
        </div>
    </div>
  </div>
</div>
