{{#flexberry-sidebar class="inverted vertical main menu"}}
  <div class="header item">
    <a class="brand" href="#">Flexberry Ember Demo</a>
  </div>
  {{flexberry-sitemap sitemap=sitemap}}
{{/flexberry-sidebar}}
<div id="example-with-submenu" class="pusher">
  <div class="full height">
    <div class="ui fixed main menu">
      <div class="ui container">
        <a {{ action 'toggleSidebar' }} class="launch icon item"><i class="sidebar icon"></i></a>
        <div class="right menu">
        </div>
      </div>
    </div>
    <div class="ui main container segment flexberry-content">
      <div class="ui close left rail">
        <div class="ui sticky transition visible">
          <div class="flexberry-submenu ui large violet pointing secondary vertical following fluid menu">
            {{flexberry-sitemap sitemap=sitemap}}
          </div>
        </div>
      </div>
      {{outlet}}
    </div>
  </div>
</div>
<div class="ui main container">
  {{outlet "modal"}}
</div>
