{{#if isInAcceptanceTestMode}}
  {{outlet}}
  {{outlet "modal"}}
{{else}}
{{#flexberry-sidebar
  class="inverted vertical main menu visible"
  settings=(hash
    closable=false
    dimPage=false
    onShow=(action "updateWidth")
    onHidden=(action "updateWidth")
  )
}}
  {{flexberry-sitemap sitemap=sitemap class="flexberry-sitemap"}}
{{/flexberry-sidebar}}
<div class="bgw-fix">
  <div class="background-logo">
    <div class="ui top attached">
      <div class="ui attached menu">
        <div class="ui container flex-container">
          <a {{action 'toggleSidebar'}}
            class="launch icon item"
            title={{t "forms.application.header.menu.sitemap-button.title"}}>
            <i class="sidebar icon text-menu-hide">
              <span class="text_menu hidden">
                {{t "forms.application.header.menu.show-menu.caption"}}
              </span>
              <span class="text_menu hidden-text">
                {{t "forms.application.header.menu.hide-menu.caption"}}
              </span>
            </i>
          </a>
        </div>
      </div>
    </div>
    <a class="item logo"
      href="#"
      target="_blank"
      title={{t "forms.application.sitemap.application-name.title"}}>
      <img class="ui centered image" src="assets/images/flexberry-logo.png" />
    </a>
    <div class="page-header-caption"><a href="#">{{t "application-name"}}</a></div>
    <div class="page-header-userbar">
      <span id="fio" class="hidden">login</span>
      <a id="ExitButton" class="exit-btn" href="javascript:void(0)">{{t "forms.application.header.logout.caption"}}</a>
    </div>
  </div>
</div>
<div id="example" class="pusher">
  <div class="ui form {{appState.state}}">
    <div class="full height">
      <div class="flexberry-content ui attached segment">
        <div class="ui main container">
          <div class="stackable grid container">
            {{outlet}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui main container">
  {{outlet "modal"}}
</div>
<div class="ui vertical footer segment">
  <div class="ui container flex-container">
    <div class="ui text menu">
      <a class="brand item" href="#">
        {{t "forms.application.footer.application-name"}}
      </a>
      <div class="right menu">
        {{flexberry-dropdown
          class="compact"
          items=locales
          value=i18n.locale
          placeholder=(t "forms.application.header.menu.language-dropdown.placeholder")
          settings=(hash direction="upward")
        }}
      </div>
    </div>
  </div>
</div>
{{/if}}
