<h3 class="ui header">{{t "forms.integration-examples.odata-examples.get-masters.ember-flexberry-dummy-departament-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
    {{
      flexberry-field
      placeholder=(t "components.flexberry-field.placeholder")
      readonly=readonly
      required=true
      value=model.name
      class=(if model.errors.name "error" "")
      label=(t "forms.integration-examples.odata-examples.get-masters.ember-flexberry-dummy-departament-e.name-caption")
      data-test-ember-flexberry-dummy-departament-e-name=true
    }}
    {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
  </div>

  <div class="field">
    <label>{{t "forms.integration-examples.odata-examples.get-masters.ember-flexberry-dummy-departament-e.vid-caption"}}</label>
    {{
      flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.vid
      displayAttributeName="name"
      autocomplete=true
      relationName="vid"
      projection="VidDepartamentaL"
      title=(t "forms.integration-examples.odata-examples.get-masters.ember-flexberry-dummy-departament-e.vid-caption")
      readonly=readonly
      componentName="vidLookup"
      data-test-ember-flexberry-dummy-departament-e-vid=true
      updateLookupValue=(action "updateLookupValue")
    }}
    {{flexberry-validationmessage error=model.errors.vid pointing="pointing"}}
  </div>

</form>