<h3 class="ui header">{{t "forms.integration-examples.edit-form.readonly-mode.caption"}}</h3>
  <div class="not-in-groupedit">
    {{flexberry-checkbox
      value=model.flag
      readonly=readonly
      data-test-checkbox=true
    }}
    {{flexberry-textbox
      value=model.text
      readonly=readonly
      data-test-textbox=true
    }}
    {{flexberry-textarea
      value=model.longText
      readonly=readonly
      data-test-textarea=true
    }}
    {{flexberry-simpledatetime
      type="time"
      value=model.time
      readonly=readonly
      data-test-simpledatetime=true
    }}
    {{flexberry-dropdown
      items=(flexberry-enum "integration-examples/edit-form/readonly-mode/enumeration")
      value=model.enumeration
      readonly=readonly
    }}
    {{flexberry-file
      value=model.file
      readonly=readonly
      data-test-file=true
    }}
    {{flexberry-lookup
      value=model.master
      relatedModel=model
      relationName="master"
      projection="MasterL"
      displayAttributeName="text"
      title=(t "forms.integration-examples.edit-form.readonly-mode.master-caption")
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      updateLookupValue=(action "updateLookupValue")
      readonly=readonly
      data-test-lookup=true
    }}
    {{flexberry-lookup
      value=model.masterDropdown
      relatedModel=model
      relationName="masterDropdown"
      projection="MasterDropdownL"
      displayAttributeName="text"
      title=(t "forms.integration-examples.edit-form.readonly-mode.master-dropdown-caption")
      choose=(action "showLookupDialog")
      remove=(action "removeLookupValue")
      updateLookupValue=(action "updateLookupValue")
      dropdown=true
      readonly=readonly
      data-test-lookup-d=true
    }}
  </div>
  <div class="in-groupedit">
    {{flexberry-groupedit
      componentName="aggregatorDetailsGroupedit"
      content=model.details
      modelProjection=modelProjection.attributes.details
      readonly=readonly
      showDeleteButtonInRow=true
      showEditMenuItemInRow=true
      showDeleteMenuItemInRow=true
      data-test-groupedit=true
    }}
  </div>