<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Flexberry prototype written in Ember.js</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            User: {{model.username}}
            {{#if session.isAuthenticated}}
                <a {{ action 'invalidateSession' }}>Logout</a>
            {{else}}
                {{#link-to 'login'}}Login{{/link-to}}
            {{/if}}
        </div>
    </nav>
    <div class="container" id="main">
        <div class="row">
            <div>
                <div class="col-md-3">
                    <div class="well sidebar-nav">
                        <strong>Navigation</strong>
                        {{render "sitemap" model.sitemap}}
                    </div>
                </div>
                <div class="col-md-9">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>
