<h3 class="ui header">Employee - edit form</h3>

{{#if errorMessages}}
  {{#each currentError in errorMessages}}
	{{ui-message
	  type = 'error'
	  closeable = true
	  visible = true
	  title = "Error occured"
	  message = currentError
	}}
  {{/each}}
{{/if}}
<form class="form-horizontal ui form" role="form">
  <div class="form-group field">
    <div>
      <button type="submit" class="ui primary button" {{action 'save'}}>Save</button>
      {{#unless model.isNew}}
      <button type="submit" class="ui primary button" {{action 'delete'}}>Delete</button>
      {{/unless}}
      <button type="submit" class="ui primary button" {{action 'close'}}>Close</button>
    </div>
  </div>
  <div class="form-group inline field {{if model.errors.firstName 'error' ''}}">
    <label class="ui label">FirstName</label>
    <span style="color:red">{{model.errors.firstName}}</span>
    {{input type="text" class="form-control" placeholder="(no value)" required=true value=model.firstName}}
  </div>
  <div class="form-group inline field {{if model.errors.lastName 'error' ''}}">
    <label class="ui label">LastName</label>
    <span style="color:red">{{model.errors.lastName}}</span>
    {{input type="text" class="form-control" placeholder="(no value)" required=true value=model.lastName}}
  </div>
  <div class="form-group inline field">
    <label class="ui label">BirthDate</label>
    {{bootstrap-datepicker class="form-control" placeholder="(no value)" value=model.birthDate
        format="dd.mm.yyyy" todayBtn="linked" clearBtn=true orientation="top auto" autoclose=true todayHighlight=true}}
  </div>
  <div class="form-group field">
    <label class="ui label">Reports to</label>
    <div>
      {{lookup-field/lookup-field
        choose='showLookupDialog'
        remove='removeLookupValue'
        value=model.reportsTo.firstName
        relationName='reportsTo'
        projection='EmployeeL'
      }}
    </div>
  </div>
  <div class="form-group field">
    <label class="ui label">Orders</label>
    <div>
      {{age-table/age-table
        items=model.orders
        projection=model.projection.details.orders
      }}
    </div>
  </div>
</form>
