{{ui-message
  type = 'error'
  closeable = true
  visible = errorMessage
  title = (t "login.login-failed-message")
  message = errorMessage
}}

{{! Login form; the fields must be named "identification" and "password"; the controller action is "authenticate" }}
{{! Error message can be included inside ui form: http://semantic-ui.com/collections/form.html#error }}
<form {{action 'authenticate' on='submit'}} class="ui form">
  <div class="field">
    <label>{{t "login.login-field-label"}}</label>
    {{input value=identification placeholder=(t "login.login-field-placeholder") type='text'}}
  </div>
  <div class="field">
    <label>{{t "login.password-field-label"}}</label>
    {{input value=password placeholder=(t "login.password-field-placeholder") type='password'}}
  </div>
  <button type="submit" class="ui button">{{t "login.login-button-text"}}</button>
</form>
