<h3 class="ui header">{{t "forms.new-platform-flexberry-services-lock-edit.caption"}}</h3>
<form class="ui {{formState}} form flexberry-vertical-form" role="form">
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      <button type="submit" class="ui negative button" {{action "delete"}}>{{t "forms.edit-form.delete-button-text"}}</button>
      <button type="submit" class="ui button" {{action "close"}}>{{t "forms.edit-form.close-button-text"}}</button>
    </div>
  </div>
  <div class="field {{if model.errors.lockKey "error" ""}}">
    {{flexberry-field
      value=model.lockKey
      label=(t "forms.new-platform-flexberry-services-lock-edit.lockKey-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.lockKey pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.userName "error" ""}}">
    {{flexberry-field
      value=model.userName
      label=(t "forms.new-platform-flexberry-services-lock-edit.userName-caption")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.userName pointing="pointing"}}
  </div>
  <div class="field {{if model.errors.lockDate "error" ""}}">
    <label>{{t "forms.new-platform-flexberry-services-lock-edit.lockDate-caption"}}</label>
    {{flexberry-datepicker
      value=model.lockDate
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.lockDate pointing="pointing"}}
  </div>
</form>
