{{#if model.link}}
  <a href="{{href-to model.link}}" class="item" title={{model.title}} {{ action "hideSidebar" preventDefault=false }}>
    {{partial "sitemap-node-content"}}
  </a>
{{else}}
  <div class="item" title={{model.title}}>
    {{partial "sitemap-node-content"}}
  </div>
{{/if}}
