{{#if model.link}}
{{#link-to model.link class="item" title=model.title invokeAction=(action 'hideSidebar')}}
    {{partial "sitemap-node-content"}}
  {{/link-to}}
{{else}}
  <div class="item item-menu">
    <div class="item-plus" onclick={{action 'subMenuEl' bubbles=false}}></div>
    <div class="item-minus hidden-menu" onclick={{action 'subMenuEl' bubbles=false}}></div>
    {{partial "sitemap-node-content"}}
  </div>
{{/if}}
